<template>

  <v-layout
    align-center
    app
    class="hcontent"
    justify-center
  >

    <v-col
      class="cardCol"
      cols="6"
    >

      <div
        class="headCard d-flex text-center align-center"
      >
        <nuxt-link class="homeLogo no-link" to="/">


            <v-img
              :src="require('~/assets/images/sabrafm-white-logo.png')"
              alt="Sabra FM white Logo"
              center
              class="SabraWhiteLogox animated fadeInRight delay-2s"
              width="240px"
              contain>
            </v-img>


          <div class="yasmine_head animated fadeInLeft delay-3s">
            <v-row>
										<span id="yasmine_head" >
											<span>ياسمينة ال</span>
											<span class="yasmine_fm_head">FM</span>
										</span>
            <img
              class="img-fluid jasmin"
              :src="require('~/assets/images/jasmin.png')"
              width="70px"
              />
            </v-row>
          </div>
        </nuxt-link>

      </div>

    </v-col>



    <v-col class="cardCol"
           cols="3"
    >
      <div
        class="headCard d-flex "
      >
        <v-row>


          <v-col cols="12">
            <div class="divdirect text-left animated zoomIn  delay-2s ">

              <nuxt-link class="seance_title no-link" to="/">
                <v-row class="animated jello delay-4s">
                  <span class="play-btn"></span>
                  <span class="direct  hoverBlue" ref="live">مبـاشر</span>
                </v-row>
              </nuxt-link>


              <div class="seance_now text-center">
                <div class="seance_time" id="seance_time">17:30 - 19:30</div>
                <nuxt-link class="seance_title no-link  hoverWhite" id="seance_title" to="/">
                  <div>اسم الحصة</div>
                </nuxt-link>
                <nuxt-link class="animateur_name no-link hoverWhite" id="animateur_name" to="/">
                  <div>مقدم الحصة</div>
                </nuxt-link>
              </div>
            </div>

          </v-col>


        </v-row>
      </div>

    </v-col>
    <v-col class="cardCol"
           cols="3"
    >
      <nuxt-link to="/">
        <div
          class="headCard d-flex "
        >
          <v-img
            :src="require('~/assets/images/presenter.png')"
            aspect-ratio="1"
            class="presenter align-self-bottom animated zoomIn delay-2s"
            contain
            max-height="275"
            max-width="275"

          />

        </div>
      </nuxt-link>
    </v-col>


  </v-layout>
</template>
<script>

  export default {
    name: 'headerContent',

    head() {
      return {
        link: [
          {
            rel: 'stylesheet',
            href: 'https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500;600;700&display=swap'
          }
        ]
      }
    }


  }


</script>

<style lang="scss">
  .yasmine_head{
    font-family: Almarai;
    color: white ;
    font-size:24px;
    margin-right: 22px;
    /* white-space: nowrap;
     overflow-x: auto;
     overflow-y: hidden;*/
  }
  .yasmine_fm_head{
    color: $SABRA_BLUE;
    font-size: 30px;
    font-family: batmfa;
    /*  margin-right: -15px;
      margin-top: -5px;
     font-weight: 600;
      position: absolute;
      transform: rotate(-20deg);*/
  }

  .hoverBlue:hover {
    color: $SABRA_BLUE !important;
  }
  .hoverWhite:hover {
    color: white !important;
  }

  .headCard {
    height: 300px;
    position: relative;
    width: 100%;
    padding-bottom: 30px !important;

  }

  .presenter {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    margin-bottom: -55px;
    margin-top: auto;

    margin-right: auto;

  }

  .listenNow {
    margin-bottom: auto;
    margin-top: 15px;
    margin-left: 0px;
    margin-right: auto;
  }

  .homeLogo {
    margin-right: 33%;
    margin-top: 15px;
  }

  .divdirect {
    margin-top: 57px;
    float: left;
    margin-bottom: 30px;


  }

  .direct {
    color: white !important;
    font-size: 20px;
    line-height: 50px;
    font-family: 'Lemonada', cursive;
    padding-right: 30px !important;
    padding-left: 25px !important;
    font-weight: bold;
    background: #fefefe61;
    border-radius: 50px 0px 0px 50px;
    text-shadow: 1px 1px #000000;
  }


  .play-btn {

    width: 50px;
    margin-left: -25px;
    height: 50px;
    background: radial-gradient(rgba(31, 184, 31, 0.8) 60%, rgba(255, 255, 255, 1) 62%);
    border-radius: 50%;
    position: relative;
    display: block;
    cursor: pointer;
    box-shadow: 0px 0px 25px 3px rgba(66, 147, 83, 0.8);
  }

  /* triangle */
  .play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-40%) translateY(-50%);
    transform: translateX(-40%) translateY(-50%);
    transform-origin: center center;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 14px solid #fff;
    z-index: 100;
    -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  /* pulse wave */
  .play-btn:before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate1 2s;
    animation: pulsate1 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, .75);
    top: -25%;
    left: -25%;
    background: rgba(198, 16, 0, 0);
  }

  @-webkit-keyframes pulsate1 {
    0% {
      -webkit-transform: scale(0.6);
      transform: scale(0.6);
      opacity: 1;
      box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0;
      box-shadow: none;

    }
  }

  @keyframes pulsate1 {
    0% {
      -webkit-transform: scale(0.6);
      transform: scale(0.6);
      opacity: 1;
      box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }
    100% {
      -webkit-transform: scale(1, 1);
      transform: scale(1);
      opacity: 0;
      box-shadow: none;

    }
  }

  .seance_now {
    font-family: 'Almarai', sans-serif;
    font-size: 18px;
    color: white !important;
    text-shadow: 1px 1px #000000;

  }

  .no-link {
    text-decoration: none !important;
  }

  .animateur_name {
  color: $SABRA_BLUE !important;
  }

  .seance_title {
    color: $SABRA_BLUE !important;
    font-size: 20px;
  }

  .seance_title > div {
    padding-bottom: 15px;
  }


</style>
