<template>
  <v-layout
    align-center
    app
    fill-height
    wrap
  >
    <v-flex xs2>
      <v-avatar
        align="center"
        class="no-rounded"
        height="48"
        justify="center"
        width="100%"
      >
        <v-img
          :src="require('~/assets/images/last-news.png')"
          alt="Sabra FM last news"
          class="SabraWhiteLogo"
          contain
          left>
        </v-img>
      </v-avatar>
    </v-flex>
    <v-flex align="center"
            justify="center"
            xs10
    >
      <client-only>
        <!-- slow duration -->


        <marquee-text
          :duration="30"
          align="center"
          justify="center"
          style="height:100%;background-color: #8b150e; "
          width="100%"
        >
          <nuxt-link class="nolink" to="/">
          <span class="one-news"> <Tags bcolor="red" type="وطنية"></Tags>
            <span class="new-content">البلار ضتبى صثثبصثب صثثب  صثب صثبصثب صثبحصيبصثب صثب صثب  صثبصثبصثبصثبث صثبحمنتهتهخ ثثبت</span></span></span>
          </nuxt-link>
          <nuxt-link class="nolink" to="/">
          <span class="one-news"><Tags bcolor="green" type="جهوية"></Tags>
            <span class="new-content">البلار ضتبى صثثبصثب صثثب  صثب صثبصثب صثبحصيبصثب صثب صثب  صثبصثبصثبصثبث صثبحمنتهتهخ ثثبت</span></span></span>
          </nuxt-link>
          <nuxt-link class="nolink" to="/">
          <span class="one-news"><Tags bcolor="blue" type="وطنية"></Tags>
            <span class="new-content">البلار ضتبى صثثبصثب صثثب  صثب صثبصثب صثبحصيبصثب صثب صثب  صثبصثبصثبصثبث صثبحمنتهتهخ ثثبت</span></span></span>
          </nuxt-link>
        </marquee-text>
      </client-only>
    </v-flex>

  </v-layout>
</template>

<script>
  import Tags from "../tools/Tags.vue" ;

  export default {
    name: 'NewsBar',
    components: {
      Tags
    },
    head() {
      return {
        link: [
          {
            rel: 'stylesheet',
            href: 'https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap'
          },
          {
            rel: 'stylesheet',
            href: 'https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700;900&display=swap'
          }
        ]
      }
    }

  }
</script>

<style lang="scss">
  .last-news {

    font-family: 'Cairo', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
  }

  .one-news {
    font-family: 'Tajawal', sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.63);
    font-weight: 400;
  }

  .e5er {
    background-color: red;
    padding-right: 10px;
    padding-left: 10px;
    width: 40%;
  }

  .a5bar {
    background-color: black;
    padding-right: 10px;
    padding-left: 10px;
    width: 60%;
  }


  .new-content {
    margin-right: 5px !important;
    margin-left: 5px !important;
    padding-right: 12px !important;
    padding-left: 7px !important;

  }
</style>
