<template>
  <v-container class="ma-0 pa-0 h-100" fill-height>
    <v-app-bar
      absolute
      app
      class="news-bar"
      dense
      flat
    >
      <v-layout >
        <v-flex xs9>
          <NewsBar/>
        </v-flex>
        <v-flex xs3>
          <SocialBar/>
        </v-flex>
      </v-layout>



    </v-app-bar>
  </v-container>


</template>
<script>
  import NewsBar from "./NewsBar.vue" ;
  import SocialBar from "./SocialBar.vue" ;

  export default {
    name:'SabraNewsbar',
    components: {
      NewsBar,
      SocialBar
    }

  }

</script>
<style >
  .news-bar {
    width: 100% !important;
    background-color: #ffffff1f !important;

  }

  .news-bar > div {
    padding: 0 !important;
  }
  .mp0{
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
  }
</style>
