<template>
  <nuxt-link to="/">
  <v-avatar
    class="no-rounded"
    size="96"
  >
    <v-img
      class="SabraWhiteLogo"
      :src="require('~/assets/images/sabrafm-white-logo.png')"
      alt="Sabra FM white Logo"
      contain
      left>
    </v-img>
  </v-avatar>
  </nuxt-link>
</template>
<script>
  export default {
    name:'SabraWhiteLogo',
  }
</script>
<style>
.SabraWhiteLogo {
  transform: rotateY(560deg);
  animation: turn 3.5s ease-out forwards 1s;
}

@keyframes turn {
  100% {
    transform: rotateY(0deg);
  }
}
</style>
