<template>
  <v-app-bar
    absolute
    app
    bottom
    class="transparent"
    flat
  >
    <v-container class="mt-0 pt-0 mb-0 pb-0 h-100" fill-height>
      <v-menu
        bottom
        class="menu-btn"
        close-delay=300
        left
        offset-y
        open-delay=300
        open-on-hover
        transition="slide-y-transition"
      >
        <template v-slot:activator="{ on }">
          <nuxt-link class=" nav-link" to="/">
            <v-btn
              class=" nav-link "
              height="100%"
              text
              v-on="on"
            >
              الصفحة الرئيسية
            </v-btn>
          </nuxt-link>
        </template>
      </v-menu>
      <v-menu
        bottom
        class="menu-btn"
        close-delay=300
        left
        offset-y
        open-delay=300
        open-on-hover
        transition="slide-y-transition"
      >
        <template v-slot:activator="{ on }">

            <v-btn
              class=" nav-link "
              height="100%"
              text
              v-on="on"
            >
              <nuxt-link class=" nav-link " to="/news">
              الأخبار
              </nuxt-link>
            </v-btn>

        </template>
        <v-list class="nav-drop">

          <nuxt-link class="nav-link" to="/news/category/1">
            <v-list-item @click="" class="list-item">
              <v-list-item-title class="list-item-title">
                جهوية
              </v-list-item-title>
            </v-list-item>
          </nuxt-link>

          <nuxt-link class="nav-link" to="/news/category/2">
            <v-list-item @click="" class="list-item">
              <v-list-item-title class="list-item-title">
                وطنية
              </v-list-item-title>
            </v-list-item>
          </nuxt-link>

          <nuxt-link class="nav-link" to="/news/category/3">
            <v-list-item @click="" class="list-item">
              <v-list-item-title class="list-item-title">
                عالمية
              </v-list-item-title>
            </v-list-item>
          </nuxt-link>

          <nuxt-link class="nav-link" to="/news/category/4">
            <v-list-item @click="" class="list-item">
              <v-list-item-title class="list-item-title">
                إقتصاد
              </v-list-item-title>
            </v-list-item>
          </nuxt-link>

        </v-list>
      </v-menu>
      <v-menu
        bottom
        class="menu-btn"
        close-delay=300
        left
        offset-y
        open-delay=300
        open-on-hover
        transition="slide-y-transition"
      >
        <template v-slot:activator="{ on }">

            <v-btn
              class=" nav-link "
              height="100%"
              text
              v-on="on"
            >
              <nuxt-link class="nav-link" to="/news/category/1">
              الرياضة
              </nuxt-link>
            </v-btn>

        </template>
        <v-list class="nav-drop">

          <nuxt-link class="nav-link" to="/news/category/2">
          <v-list-item @click="" class="list-item">
            <v-list-item-title class="list-item-title">
                وطنية
            </v-list-item-title>
          </v-list-item>
          </nuxt-link>

          <nuxt-link class="nav-link" to="/news/category/3">
          <v-list-item @click="" class="list-item">
            <v-list-item-title class="list-item-title">
                عالمية
            </v-list-item-title>
          </v-list-item>
          </nuxt-link>

          <nuxt-link class="nav-link" to="/news/category/1">
          <v-list-item @click="" class="list-item">
            <v-list-item-title class="list-item-title">
                تسجيلات
            </v-list-item-title>
          </v-list-item>
          </nuxt-link>

        </v-list>
      </v-menu>
      <v-menu
        bottom
        class="menu-btn"
        close-delay=300
        left
        offset-y
        open-delay=300
        open-on-hover
        transition="slide-y-transition"
      >
        <template v-slot:activator="{ on }">
          <v-btn
            class=" nav-link "
            height="100%"
            text
            v-on="on"
          >
            صور و فيديو
          </v-btn>
        </template>
        <v-list class="nav-drop">

          <nuxt-link class="nav-link" to="/news/category/1">
          <v-list-item @click="" class="list-item">
            <v-list-item-title class="list-item-title">
                صور
            </v-list-item-title>
          </v-list-item>
          </nuxt-link>

          <nuxt-link class="nav-link" to="/news/category/1">
          <v-list-item @click="" class="list-item">
            <v-list-item-title class="list-item-title">
                فيديو
            </v-list-item-title>
          </v-list-item>
          </nuxt-link>

        </v-list>
      </v-menu>
      <v-menu
        bottom
        class="menu-btn"
        close-delay=300
        left
        offset-y
        open-delay=300
        open-on-hover
        transition="slide-y-transition"
      >
        <template v-slot:activator="{ on }">

            <v-btn
              class=" nav-link "
              height="100%"
              text
              v-on="on"
            >
              <nuxt-link class="nav-link" to="/news/category/1">
              تسجيلات
              </nuxt-link>
            </v-btn>

        </template>
        <v-list class="nav-drop">

          <nuxt-link class="nav-link" to="/news/category/1">
          <v-list-item @click="" class="list-item">
            <v-list-item-title class="list-item-title">
                زهرك اليوم
            </v-list-item-title>
          </v-list-item>
          </nuxt-link>

          <nuxt-link class="nav-link" to="/news/category/1">
          <v-list-item @click="" class="list-item">
            <v-list-item-title class="list-item-title">
                فقرة صحية
            </v-list-item-title>
          </v-list-item>
          </nuxt-link>

          <nuxt-link class="nav-link" to="/news/category/1">
          <v-list-item @click="" class="list-item">
            <v-list-item-title class="list-item-title">
                بمبينو
            </v-list-item-title>
          </v-list-item>
          </nuxt-link>

          <nuxt-link class="nav-link" to="/news/category/1">
          <v-list-item @click="" class="list-item">
            <v-list-item-title class="list-item-title">
                البرامج
            </v-list-item-title>
          </v-list-item>
          </nuxt-link>

          <nuxt-link class="nav-link" to="/news/category/1">
          <v-list-item @click="" class="list-item">
            <v-list-item-title class="list-item-title">
                الأخبار
            </v-list-item-title>
          </v-list-item>
          </nuxt-link>

        </v-list>
      </v-menu>
      <v-menu
        bottom
        class="menu-btn"
        close-delay=300
        left
        offset-y
        open-delay=300
        open-on-hover
        transition="slide-y-transition"
      >
        <template v-slot:activator="{ on }">

            <v-btn
              class=" nav-link "
              height="100%"
              text
              v-on="on"
            >
              <nuxt-link class="nav-link" to="/news/category/1">
              منوعات
              </nuxt-link>
            </v-btn>
        </template>
        <v-list class="nav-drop">

          <nuxt-link class="nav-link" to="/news/category/1">
          <v-list-item @click="" class="list-item">
            <v-list-item-title class="list-item-title">
                الحظ
            </v-list-item-title>
          </v-list-item>
          </nuxt-link>

          <nuxt-link class="nav-link" to="/news/category/1">
          <v-list-item @click="" class="list-item">
            <v-list-item-title class="list-item-title">
                الطقس
            </v-list-item-title>
          </v-list-item>
          </nuxt-link>

        </v-list>
      </v-menu>
      <v-menu
        bottom
        class="menu-btn"
        close-delay=300
        left
        offset-y
        open-delay=300
        open-on-hover
        transition="slide-y-transition"
      >
        <template v-slot:activator="{ on }">
          <nuxt-link class=" nav-link" to="/">
            <v-btn
              class=" nav-link "
              height="100%"
              text
              v-on="on"
            >
              أرشيف
            </v-btn>
          </nuxt-link>

        </template>
      </v-menu>
      <v-menu
        bottom
        class="menu-btn"
        close-delay=300
        left
        offset-y
        open-delay=300
        open-on-hover
        transition="slide-y-transition"
      >
        <template v-slot:activator="{ on }">
          <v-btn
            class=" nav-link "
            height="100%"
            text
            v-on="on"
          >
            واب راديو
          </v-btn>
        </template>
        <v-list class="nav-drop">
          <v-list-item @click="" class="list-item">
            <v-list-item-title class="list-item-title">القرآن الكريم</v-list-item-title>
          </v-list-item>
          <v-list-item @click="" class="list-item">
            <v-list-item-title class="list-item-title">الطرب</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
      <v-spacer/>
      <v-text-field
        class="search-bar hidden-md-and-down "
        dark
        dense
        flat
        hide-details
        label="بحث"
        prepend-inner-icon="mdi-magnify"
        solo-inverted
      />
    </v-container>
  </v-app-bar>
</template>
<script>

  export default {
    name: 'SabraNavbar',
    head() {
      return {
        link: [
          {
            rel: 'stylesheet',
            href: 'https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap'
          }
        ]
      }
    }


  }
</script>

<style lang="scss">
  .sticky {
    position: fixed !important;
    top: 0 !important;
    //  bottom: auto !important;
  }

  .notsticky {
    position: absolute !important;
    bottom: 0 !important;
  }

  .nav-link {
    letter-spacing: 0 !important;
    font-family: 'Almarai', sans-serif;
    font-weight: bold !important;
    font-size: 18px !important;
    color: white !important;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-decoration: none !important;
    color: white !important;

  }

  .nav-link:hover {
    letter-spacing: 0 !important;
    color: $SABRA_BLUE !important;
    background-color: transparent !important;
  }

  .nav-link:before {
    letter-spacing: 0 !important;
    color: $SABRA_BLUE !important;
    background-color: transparent !important;
  }

  .back_green {
    background-color: $SABRA_GREEN !important;
  }

  .menu-btn {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 9999 !important;
  }

  .nav-drop {
    width: 150px;
    background: #ffffff !important;
    border-radius: 0px !important;
    border-top: 1px solid $SABRA_BLUE !important;
  }

  .list-item {

  }

  .list-item-title  {
    // color:$SABRA_GREEN;
    letter-spacing: 0 !important;
    font-family: 'Almarai', sans-serif !important;
    font-weight: bold !important;
    font-size: 13px !important;
    padding-right: 5px !important;
    color: black !important;

  }

  .list-item:hover > .list-item-title {
    color: $SABRA_BLUE !important;
    font-size: 15px !important;
  }

  .list-item:hover {
    border-right: 2px solid $SABRA_GREEN !important;
  }

  .search-bar {
    width: 75px !important;
  }

  .sabra-blue {
    color: $SABRA_BLUE !important;
  }

  .sabra-green {
    color: $SABRA_GREEN !important;
  }

  .transparent {
    background-color: $SABRA_GREEN !important;
  }
</style>
