<template>
  <v-navigation-drawer
    app
    class="mobile-menu"
    right
    temporary
    v-click-outside="externalClick"
    v-model="drawer"
    width="100%"
  >
    <v-container>
      <v-app-bar
        app
        class="mobile-menu-mini-bar d-block"
        flat
        text
      >
        <SabraLogo/>
        <v-spacer/>
        <v-btn
          @click.stop="externalClick"
          class="sabra-green"
          color="lighten-2"
          icon

          text
        >
          <v-icon>mdi-close-thick</v-icon>
        </v-btn>
      </v-app-bar>


      <v-container class="d-block menu">
        <v-row
          justify="center"
          no-gutters
        >
          <v-col class="col-8 col-sm-6 col-md-4 text-right">

            <v-list justify="center">


              <v-list-item link>
                <nuxt-link class="mobile-nav-link" to="/">
                  <v-list-item-title class="mobile-nav-link">الصفحة الرئيسية</v-list-item-title>
                </nuxt-link>
              </v-list-item>
              <v-list-group>

                <template v-slot:activator>
                  <v-list-item-content class="mobile-nav-link remove-next mobile-nav-head">
                    <v-list-item-title class="mobile-nav-link">الأخبار</v-list-item-title>
                  </v-list-item-content>
                </template>


                <v-list-item class="sub-link" link>
                  <nuxt-link class="mobile-nav-link" to="/">

                    <v-list-item-title class="mobile-nav-link sub-link" link>
                      <v-icon classe="ico-select ml-5">mdi-dots-horizontal</v-icon>
                      جهوية
                    </v-list-item-title>
                  </nuxt-link>
                </v-list-item>


                <v-list-item class="sub-link" link>
                  <nuxt-link class="mobile-nav-link" to="/">
                    <v-list-item-title class="mobile-nav-link sub-link">
                      <v-icon classe="ico-select ml-5">mdi-dots-horizontal</v-icon>
                      وطنية
                    </v-list-item-title>
                  </nuxt-link>
                </v-list-item>

                <v-list-item class="sub-link" link>
                  <nuxt-link class="mobile-nav-link" to="/">
                    <v-list-item-title class="mobile-nav-link sub-link">
                      <v-icon classe="ico-select ml-5">mdi-dots-horizontal</v-icon>
                      عالمية
                    </v-list-item-title>
                  </nuxt-link>
                </v-list-item>

                <v-list-item class="sub-link" link>
                  <nuxt-link class="mobile-nav-link" to="/">
                    <v-list-item-title class="mobile-nav-link sub-link">
                      <v-icon classe="sub-icon ico-select  ml-5">mdi-dots-horizontal</v-icon>
                      إقتصاد
                    </v-list-item-title>
                  </nuxt-link>
                </v-list-item>

              </v-list-group>
              <v-list-group>

                <template v-slot:activator>
                  <v-list-item-content class="mobile-nav-link remove-next mobile-nav-head">
                    <v-list-item-title class="mobile-nav-link">

                      الرياضة

                    </v-list-item-title>
                  </v-list-item-content>
                </template>

                <v-list-item class="sub-link" link>
                  <nuxt-link class="mobile-nav-link" to="/">
                    <v-list-item-title class="mobile-nav-link sub-link">
                      <v-icon classe="sub-icon ico-select  ml-5">mdi-dots-horizontal</v-icon>
                      وطنية
                    </v-list-item-title>
                  </nuxt-link>
                </v-list-item>

                <v-list-item class="sub-link" link>
                  <nuxt-link class="mobile-nav-link" to="/">
                    <v-list-item-title class="mobile-nav-link sub-link">
                      <v-icon classe="sub-icon ico-select  ml-5">mdi-dots-horizontal</v-icon>
                      عالمية
                    </v-list-item-title>
                  </nuxt-link>
                </v-list-item>

                <v-list-item class="sub-link" link>
                  <nuxt-link class="mobile-nav-link" to="/">
                    <v-list-item-title class="mobile-nav-link sub-link">
                      <v-icon classe="sub-icon ico-select  ml-5">mdi-dots-horizontal</v-icon>
                      تسجيلات
                    </v-list-item-title>
                  </nuxt-link>
                </v-list-item>

              </v-list-group>
              <v-list-group>

                <template v-slot:activator>
                  <v-list-item-content class="mobile-nav-link remove-next mobile-nav-head">
                    <v-list-item-title class="mobile-nav-link">صور و فيديو</v-list-item-title>
                  </v-list-item-content>
                </template>

                <v-list-item class="sub-link" link>
                  <nuxt-link class="mobile-nav-link" to="/">
                    <v-list-item-title class="mobile-nav-link sub-link">
                      <v-icon classe="sub-icon ico-select  ml-5">mdi-dots-horizontal</v-icon>
                      صور
                    </v-list-item-title>
                  </nuxt-link>
                </v-list-item>

                <v-list-item class="sub-link" link>
                  <nuxt-link class="mobile-nav-link" to="/">
                    <v-list-item-title class="mobile-nav-link sub-link">
                      <v-icon classe="sub-icon ico-select  ml-5">mdi-dots-horizontal</v-icon>
                      فيديو
                    </v-list-item-title>
                  </nuxt-link>
                </v-list-item>
              </v-list-group>
              <v-list-group>
                <template v-slot:activator>
                  <v-list-item-content class="mobile-nav-link remove-next mobile-nav-head">
                    <v-list-item-title class="mobile-nav-link">تسجيلات</v-list-item-title>
                  </v-list-item-content>
                </template>
                <v-list-item class="sub-link" link>
                  <nuxt-link class="mobile-nav-link" to="/">
                    <v-list-item-title class="mobile-nav-link sub-link">
                      <v-icon classe="sub-icon ico-select  ml-5">mdi-dots-horizontal</v-icon>
                      زهرك اليوم
                    </v-list-item-title>
                  </nuxt-link>
                </v-list-item>
                <v-list-item class="sub-link" link>
                  <nuxt-link class="mobile-nav-link" to="/">
                    <v-list-item-title class="mobile-nav-link sub-link">
                      <v-icon classe="sub-icon ico-select  ml-5">mdi-dots-horizontal</v-icon>
                      فقرة صحية
                    </v-list-item-title>
                  </nuxt-link>
                </v-list-item>
                <v-list-item class="sub-link" link>
                  <nuxt-link class="mobile-nav-link" to="/">
                    <v-list-item-title class="mobile-nav-link sub-link">
                      <v-icon classe="sub-icon ico-select  ml-5">mdi-dots-horizontal</v-icon>
                      بمبينو
                    </v-list-item-title>
                  </nuxt-link>
                </v-list-item>
                <v-list-item class="sub-link" link>
                  <nuxt-link class="mobile-nav-link" to="/">
                    <v-list-item-title class="mobile-nav-link sub-link">
                      <v-icon classe="sub-icon ico-select  ml-5">mdi-dots-horizontal</v-icon>
                      البرامج
                    </v-list-item-title>
                  </nuxt-link>
                </v-list-item>
                <v-list-item class="sub-link" link>
                  <nuxt-link class="mobile-nav-link" to="/">
                    <v-list-item-title class="mobile-nav-link sub-link">
                      <v-icon classe="sub-icon ico-select  ml-5">mdi-dots-horizontal</v-icon>
                      الأخبار
                    </v-list-item-title>
                  </nuxt-link>
                </v-list-item>
              </v-list-group>
              <v-list-group>
                <template v-slot:activator>
                  <v-list-item-content class="mobile-nav-link remove-next mobile-nav-head">
                    <v-list-item-title class="mobile-nav-link ">منوعات</v-list-item-title>
                  </v-list-item-content>
                </template>
                <v-list-item class="sub-link" link>
                  <nuxt-link class="mobile-nav-link" to="/">
                    <v-list-item-title class="mobile-nav-link sub-link" >
                      <v-icon classe="sub-icon ico-select  ml-5">mdi-dots-horizontal</v-icon>
                      الحظ
                    </v-list-item-title>
                  </nuxt-link>
                </v-list-item>
                <v-list-item class="sub-link" link>
                  <nuxt-link class="mobile-nav-link" to="/">
                    <v-list-item-title class="mobile-nav-link sub-link">
                      <v-icon classe="sub-icon ico-select  ml-5">mdi-dots-horizontal</v-icon>
                      الطقس
                    </v-list-item-title>
                  </nuxt-link>
                </v-list-item>

              </v-list-group>
              <v-list-item link>
                <nuxt-link class="mobile-nav-link" to="/">
                  <v-list-item-title class="mobile-nav-link">أرشيف</v-list-item-title>
                </nuxt-link>
              </v-list-item>
              <v-list-group>
                <template v-slot:activator>
                  <v-list-item-content class="mobile-nav-link remove-next mobile-nav-head">
                    <v-list-item-title class="mobile-nav-link ">

                      واب راديو
                    </v-list-item-title>
                  </v-list-item-content>
                </template>
                <v-list-item class="sub-link" link>
                  <nuxt-link class="mobile-nav-link" to="/">
                    <v-list-item-title class="mobile-nav-link sub-link">
                      <v-icon classe="sub-icon ico-select  ml-5">mdi-dots-horizontal</v-icon>
                      القرآن الكريم
                    </v-list-item-title>
                  </nuxt-link>
                </v-list-item>
                <v-list-item class="sub-link" link>
                  <nuxt-link class="mobile-nav-link" to="/">
                    <v-list-item-title class="mobile-nav-link sub-link">
                      <v-icon classe="sub-icon ico-select  ml-5">mdi-dots-horizontal</v-icon>
                      الطرب
                    </v-list-item-title>
                  </nuxt-link>
                </v-list-item>
              </v-list-group>
              <v-list-item link>
                <nuxt-link class="mobile-nav-link" to="/">
                  <v-list-item-title class="mobile-nav-link">المباشر</v-list-item-title>
                </nuxt-link>

              </v-list-item>

            </v-list>
            <v-text-field
              class="search-bar-mobile  mt-5"
              dense
              flat
              hide-details
              label="بحث"
              prepend-inner-icon="mdi-magnify"
              solo-inverted

            />

          </v-col>
          <v-col class="col-3 col-sm-2  col-md-1 text-left" style="background-color: red" >




          </v-col>
        </v-row>

      </v-container>

      <div class="text-left" id="sabra">
        <h1>SABRA FM</h1>
        <h5>Powered By: M3SOFT </h5>
      </div>

    </v-container>
  </v-navigation-drawer>

</template>
<script>
  import SabraLogo from "../tools/Logo.vue";
  import vClickOutside from 'v-click-outside'

  export default {
    name:'SabraMobileMenu',
    components: {
      SabraLogo
    },
    data() {
      return {
        temporary: true
      }
    },

    computed: {
      drawer: {
        get() {
          return this.$store.getters['drawer/getDrawer']
        },
        set() {
        }
      }
    },
    directives: {
      clickOutside: vClickOutside.directive
    },
    methods: {
      externalClick(event) {
        this.$store.commit('drawer/toggleDrawer', false)
      },

    },
  }

</script>

<style lang="scss">
  .mobile-menu-mini-bar {
    background: #f1f1f1 !important;
  }

  .mobile-menu {
    background: #f1f1f1 !important;
  }

  #sabra {
    line-height: 20px;
    font-weight: bold;
    background-color: #9e9e9e;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    position: absolute;
    bottom: 5px;
    left: 5px;
  }

  .menu {
    margin-top: 40px;
  }


  .mobile-nav-link {
    letter-spacing: 0 !important;
    font-family: 'Almarai', sans-serif !important;
    font-weight: bold !important;
    font-size: 18px !important;
    color: $SABRA_BLUE !important;
    width: 100%;
    text-decoration: none !important;
  }

  .mobile-nav-link:hover {
    letter-spacing: 0 !important;
    color: $SABRA_GREEN !important;
    background-color: transparent !important;
    font-size: 20px !important;

  }

  .mobile-nav-link:before {
    letter-spacing: 0 !important;
    color: $SABRA_GREEN !important;
    font-size: 20px !important;
    background-color: transparent !important;

  }

  .remove-next + div {
    display: none !important;
  }

  .v-list-item--active > div > div {
    color: $SABRA_GREEN !important;
  }

  .search-bar-mobile {
    width: 100% !important;
  }

  .mobile-nav-link > i {
    color: $SABRA_GREEN !important;
  }
.sub-link{
  color: #6f6f6f !important;
  font-size: 16px !important;
}
  .sub-link:hover{

    font-size: 18px !important;
  }

</style>
