<template>
  <v-layout

    column>
    <div
      :style="{background: `url(${backgroundUrl})no-repeat center center `}"
      class="sabra-header "
      id="sabra-header"
    >
      <headerContent/>
      <SabraNewsbar/>
      <SabraNavbar id="sabra-navbarx"/>


    </div>
  </v-layout>
</template>
<script>
  import SabraNewsbar from "./SabraNewsbar.vue" ;
  import SabraNavbar from "./SabraNavbar.vue" ;
  import headerContent from "./headerContent";

  export default {
    name: 'SabraHeader',
    data() {
      return {
        initTop: 0
      }
    },
    components: {
      SabraNewsbar,
      SabraNavbar,
      headerContent
    },
    mounted() {
      window.addEventListener('scroll', this.handleScroll);
      var sabraNavbar0 = document.getElementById("sabra-navbarx")
      this.initTop = sabraNavbar0.offsetTop

    },
    destroyed() {
      window.removeEventListener('scroll', this.handleScroll);

    },

    methods: {
      handleScroll(event) {
        var sabraNavbar = document.getElementById("sabra-navbarx")
        var sticky = sabraNavbar.offsetTop;
        if (window.pageYOffset > sticky) {
          sabraNavbar.classList.add("sticky");
          sabraNavbar.classList.remove("transparent");
          sabraNavbar.classList.add("back_green");
        }
        if (window.pageYOffset < this.initTop) {
          sabraNavbar.classList.remove("sticky");
          sabraNavbar.classList.add("transparent");
          sabraNavbar.classList.remove("back_green");
        }
      }
    },
    computed: {
      backgroundUrl() {
        return require('~/assets/images/banner.png')
      }
    }
  }

</script>
<style scoped>
  .sabra-header {
    min-height: 100% !important;
    position: relative;
    overflow: hidden;

  }
  #sabra-navbarx{
    z-index: 9999;
  }

</style>
