<template>
  <v-container>
  <v-app-bar
    app
    class="back_green m_menu"
    dark
  >

    <SabraWhiteLogo/>
    <v-spacer/>
    <v-app-bar-nav-icon
      @click.stop="toggleMenu"
    />


  </v-app-bar>
  </v-container>
</template>
<script>
  import {mapGetters} from 'vuex'
  import SabraWhiteLogo from "./SabraWhiteLogo.vue";
  export default {
    name:'SabraMobileNavbar',
    components: {
      SabraWhiteLogo
    },
    methods: {
      toggleMenu() {
        this.$store.commit('drawer/toggleDrawer', !this.drawer)
      }
    },
    computed: mapGetters({
      drawer: 'drawer/getDrawer'
    }),

  }
</script>
<style lang="scss">
  .m_menu{
    z-index: 9999 !important;
  }
</style>
