<template>
  <v-layout
    align-center
    app
    class="sBar"
    justify-center
    wrap>
    <v-col cols="12">
      <v-btn
        class="facebook2"

        data-aos="fade-up"
        data-aos-easing="ease"
        outlined width="20%"
      >
        <v-icon>mdi-facebook</v-icon>
      </v-btn>

      <v-btn
        class="twitter2"
        outlined
        dark
        data-aos="fade-up"
        data-aos-anchor=".facebook2" data-aos-delay="150" data-aos-easing="ease" width="20%"
      >
        <v-icon>mdi-twitter</v-icon>
      </v-btn>

      <v-btn
        class="instagram2"
        outlined
        dark
        data-aos="fade-up"
        data-aos-anchor=".twitter2" data-aos-delay="250" data-aos-easing="ease" width="20%"
      >
        <v-icon>mdi-instagram</v-icon>
      </v-btn>

      <v-btn
        class="youtube2"
        outlined dark data-aos="fade-up" data-aos-anchor=".instagram2"
        data-aos-delay="350"
        data-aos-easing="ease"
        width="20%"
      >
        <v-icon>mdi-youtube</v-icon>
      </v-btn>
      <v-btn
        class="email2"
        outlined
        dark
        data-aos="fade-up"
        data-aos-anchor=".youtube2" data-aos-delay="450" data-aos-easing="ease" width="20%"
      >
        <v-icon>mdi-email</v-icon>
      </v-btn>
    </v-col>
  </v-layout>
</template>

<script>
  export default {
    name: 'SocialBarWhite'
  }
</script>

<style lang="scss" scoped>
  .sBar {
    width: 100% !important;
    height: 100% !important;
    padding-right: 5px;
  }

  .v-btn {
    height: 35px !important;
    max-width: 18% !important;
    min-width: 18% !important;
    width: 18% !important;
    color: #7f828b;
  }
.youtube2:hover{
  color:#c4302b
}
  .facebook2:hover {
    color: #3b5998
  }
 .twitter2:hover{
   color:#00acee
 }
 .email2:hover{
   color:white;
 }
  .instagram2:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
  }

</style>
