<template>
  <v-layout
    align-center
    app
    class="sBar"
    justify-center
    wrap>
    <v-col cols="12">
      <v-btn
        class="animated fadeInLeft"
        color="#3b5998"
        dark
        width="20%"
      >
        <v-icon>mdi-facebook</v-icon>
      </v-btn>

      <v-btn
        color="#00acee"
        dark
        class="animated fadeInLeft delay-1s"
        width="20%"
      >
        <v-icon>mdi-twitter</v-icon>
      </v-btn>

      <v-btn
        class="instagram animated fadeInLeft  delay-2s"
        dark
        width="20%"
      >
        <v-icon>mdi-instagram</v-icon>
      </v-btn>

      <v-btn
        class="youtube animated fadeInLeft delay-3s"
        color="#c4302b"
        dark
        width="20%"
      >
        <v-icon>mdi-youtube</v-icon>
      </v-btn>
      <v-btn
        dark
        width="20%"
        class=" animated fadeInLeft delay-4s"
      >
        <v-icon>mdi-email</v-icon>
      </v-btn>
    </v-col>
  </v-layout>
</template>

<script>
  export default {
    name: 'SocialBar'
  }
</script>

<style lang="scss" scoped>
  .sBar {
    width: 100% !important;
    height: 100% !important;
    padding-right: 5px;
  }

  .v-btn {
    height: 35px !important;
    max-width: 18% !important;
    min-width: 18% !important;
    width: 18% !important;
  }

  .instagram {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
  }

</style>
