<template>
  <v-layout>
    <v-row>

      <div class="col-9">
        <Titre2 Title="آخر الأخبار"/>
        <Zodiac/>
        <AudioPlayer
          :file="'audio/تسجيل فقرة TECH-TECH مع عزيز المناعي.mp3'"
        />
      </div>
      <div class="col-3"></div>
      <div class="col-12">

      </div>
      <div class="col-12">
        <SocialShare
          url="https://www.mosaiquefm.net/ar/%D8%AA%D9%88%D9%86%D8%B3-%D8%B1%D9%8A%D8%A7%D8%B6%D8%A9-%D8%A3%D8%AE%D8%A8%D8%A7%D8%B1/736049/%D8%B9%D9%88%D8%AF%D8%A9-%D9%86%D8%B4%D8%A7%D8%B7-%D8%A7%D9%84%D9%81%D8%B6%D8%A7%D8%A1%D8%A7%D8%AA-%D8%A7%D9%84%D8%B1%D9%8A%D8%A7%D8%B6%D9%8A%D8%A9-%D9%88%D8%A7%D9%84%D8%B4%D8%A8%D8%A7%D8%A8%D9%8A%D8%A9-%D8%A8%D8%AF%D8%A7%D9%8A%D8%A9-%D9%85%D9%86-%D9%87%D8%B0%D8%A7-%D8%A7%D9%84%D8%AA%D8%A7%D8%B1%D9%8A%D8%AE"
          title="The Progressive JavaScript Framework"
          description="Intuitive, Fast and Composable MVVM for building interactive interfaces."
          quote="Vue is a progressive framework for building user interfaces."
          hashtags="test1,test2"
          twitterUser="vuejs"
        />
      </div>
    </v-row>

  </v-layout>
</template>
<script>
  import Zodiac from "../../components/tools/Zodiac";
  import AudioPlayer from "../../components/tools/AudioPlayer";
  import SocialShare from "../../components/tools/SocialShare";
import Titre2 from "../../components/tools/Titre2";
  export default {
    components: {
      Zodiac, AudioPlayer, SocialShare,Titre2
    }


  }
</script>
<style>

</style>
