<template>
  <v-layout>
    <v-flex xs12 md8 offset-md2 lg4 offset-lg4 id="audioPlayerWrapper">
      <client-only>
        <component :file="file" :is="dynamic" color="success" downloadable id="audioPlayer" ></component>
      </client-only>
    </v-flex>
  </v-layout>
</template>

<script>

  export default {
props:['file'],
    data() {
      return {
        dynamic: null,
      }
    },

     mounted() {
      console.log("mounted")
      var x = document.createElement("IMG");
      x.setAttribute("src", "images/sabrafm-logo.png");
      x.setAttribute("class", "SabraLogo minilogo");
      x.setAttribute("width", "72");
      var z =document.createElement("div");
       document.onreadystatechange = () => {
         if (document.readyState == "complete") {
           this.$nextTick(function () {

             document.getElementById("audioPlayer").firstChild.appendChild(x);
           })
         }
       }



    },
    beforeMount() {
      this.dynamic = () => import(`vuetify-audio`);

    }
  }

</script>

<style lang="scss">
  .audioPlayer {



  }


</style>
