<template>
  <nuxt-link to="/">

      <v-img
        class="SabraLogo mt-3"
        :src="require('~/assets/images/sabrafm-logo.png')"
        alt="Sabra FM Logo"
        contain
        width="192px">
      </v-img>

  </nuxt-link>
</template>

<style>
  .SabraLogo {
    transform: rotateY(560deg);
    animation: turn 3.5s ease-out forwards 1s;
  }

  @keyframes turn {
    100% {
      transform: rotateY(0deg);
    }
  }
</style>
