<template>
  <v-layout>
    <div>
      <Titre2 Title="آخر الأخبار"/>

      <v-row>

        <div
          v-for="(nwx, index) in news"

             class="col-xs-12 col-sm-6 col-md-6 col-lg-4 pr-0"
             data-aos="zoom-in"
             data-aos-easing="linear"

        >
          <div class="entry-image">
            <a :href="'/news/'+nwx.id">
              <img alt="image sabra FM" class="thumbnails" :src="nwx.image"/>
              <client-only>
                <Tags :bcolor="nwx.subCategoryColor" class="tgx" :type="nwx.subCategory"/>
              </client-only>
            </a>
          </div>
          <div class="entry-c">
            <div class="entry-title">
              <h4><a :href="'/news/'+nwx.id">{{nwx.title}}</a></h4>
            </div>
            <ul class="entry-meta ">
              <li><i class="icon-calendar3"></i> {{nwx.date}}</li>
              <li><i class="icon-folder-open"></i><a href="#">{{nwx.category}}</a>,  <a href="#">{{nwx.subCategory}}</a></li>
            </ul>
            <div class="entry-content article-preview">


            </div>
          </div>
        </div>

      </v-row>


    </div>

  </v-layout>
</template>
<script>
  import Titre2 from "./Titre2";
  import Tags from "./Tags";

  export default {
    name: 'MorePosts',
    components: {
      Titre2,
      Tags
    },
    data() {
      return {
        news: [
          {
            id: '1',
            title: 'عنوان المقال مطول البيان',
            date: '10 جويلية 1994',
            writer: 'محمد المصور',
            body: ' ينكب مشرعو كرة القدم على دراسة تغيير "موقت" في قوانين اللعبة يسمح للفرق بإجراء خمسة تبديلات في المباريات بدلا\n' +
              '  <h1>Test</h1>  من ثلاثة، مع استئناف النشاط المعلق حاليا بسبب فيروس كورونا المستجد.\n' +
              '\n' +
              '          وكان الاتحاد الدولي للعبة (فيفا) قد تقدم في أواخرأبريل، باقتراح زيادة عدد التبديلات خلال المباريات، ورفعه من\n' +
              '          ثلاثة (خلال الوقت الأصلي) الى خمسة، لمساعدة اللاعبين على مواجهة الضغط المكثف للمباريات التي من المتوقع ان\n' +
              '          يخوضونها في الفترة المقبلة، لتعويض التوقف الذي يقترب من اتمام شهرين كاملين.\n' +
              '\n' +
              '          ومن المتوقع ان يصادق مجلس الاتحاد الدولي لكرة القدم ("إيفاب") المعني بقوانين اللعبة، على هذا الطرح الجمعة.',
            image: '/images/posts/1.jpg',
            category: 'أخبار',
            categoryId: 1,
            subCategory: 'وطنية',
            subCategoryId: 1,
            subCategoryColor:'red',
            tags: [
              {id: '1', tag: 'تونس'},
              {id: '2', tag: 'اخبار'},
              {id: '3', tag: 'سياسة'},
              {id: '4', tag: '2020'}
            ]
          },
          {
            id: '2',
            title: 'عنوان المقال مطول البيان',
            date: '10 جويلية 1994',
            writer: 'محمد المصور',
            body: ' ينكب مشرعو كرة القدم على دراسة تغيير "موقت" في قوانين اللعبة يسمح للفرق بإجراء خمسة تبديلات في المباريات بدلا\n' +
              '  <h1>Test</h1>  من ثلاثة، مع استئناف النشاط المعلق حاليا بسبب فيروس كورونا المستجد.\n' +
              '\n' +
              '          وكان الاتحاد الدولي للعبة (فيفا) قد تقدم في أواخرأبريل، باقتراح زيادة عدد التبديلات خلال المباريات، ورفعه من\n' +
              '          ثلاثة (خلال الوقت الأصلي) الى خمسة، لمساعدة اللاعبين على مواجهة الضغط المكثف للمباريات التي من المتوقع ان\n' +
              '          يخوضونها في الفترة المقبلة، لتعويض التوقف الذي يقترب من اتمام شهرين كاملين.\n' +
              '\n' +
              '          ومن المتوقع ان يصادق مجلس الاتحاد الدولي لكرة القدم ("إيفاب") المعني بقوانين اللعبة، على هذا الطرح الجمعة.',
            image: '/images/posts/2.jpg',
            category: 'أخبار',
            categoryId: 1,
            subCategory: 'وطنية',
            subCategoryColor:'red',
            subCategoryId: 1,
            tags: [
              {id: '1', tag: 'تونس'},
              {id: '2', tag: 'اخبار'},
              {id: '3', tag: 'سياسة'},
              {id: '4', tag: '2020'}
            ]
          },
          {
            id: '3',
            title: 'عنوان المقال مطول البيان',
            date: '10 جويلية 1994',
            writer: 'محمد المصور',
            body: ' ينكب مشرعو كرة القدم على دراسة تغيير "موقت" في قوانين اللعبة يسمح للفرق بإجراء خمسة تبديلات في المباريات بدلا\n' +
              '  <h1>Test</h1>  من ثلاثة، مع استئناف النشاط المعلق حاليا بسبب فيروس كورونا المستجد.\n' +
              '\n' +
              '          وكان الاتحاد الدولي للعبة (فيفا) قد تقدم في أواخرأبريل، باقتراح زيادة عدد التبديلات خلال المباريات، ورفعه من\n' +
              '          ثلاثة (خلال الوقت الأصلي) الى خمسة، لمساعدة اللاعبين على مواجهة الضغط المكثف للمباريات التي من المتوقع ان\n' +
              '          يخوضونها في الفترة المقبلة، لتعويض التوقف الذي يقترب من اتمام شهرين كاملين.\n' +
              '\n' +
              '          ومن المتوقع ان يصادق مجلس الاتحاد الدولي لكرة القدم ("إيفاب") المعني بقوانين اللعبة، على هذا الطرح الجمعة.',
            image: '/images/posts/3.jpg',
            category: 'أخبار',
            categoryId: 1,
            subCategory: 'وطنية',
            subCategoryColor:'green',
            subCategoryId: 1,
            tags: [
              {id: '1', tag: 'تونس'},
              {id: '2', tag: 'اخبار'},
              {id: '3', tag: 'سياسة'},
              {id: '4', tag: '2020'}
            ]
          },
          {
            id: '4',
            title: 'عنوان المقال مطول البيان',
            date: '10 جويلية 1994',
            writer: 'محمد المصور',
            body: ' ينكب مشرعو كرة القدم على دراسة تغيير "موقت" في قوانين اللعبة يسمح للفرق بإجراء خمسة تبديلات في المباريات بدلا\n' +
              '  <h1>Test</h1>  من ثلاثة، مع استئناف النشاط المعلق حاليا بسبب فيروس كورونا المستجد.\n' +
              '\n' +
              '          وكان الاتحاد الدولي للعبة (فيفا) قد تقدم في أواخرأبريل، باقتراح زيادة عدد التبديلات خلال المباريات، ورفعه من\n' +
              '          ثلاثة (خلال الوقت الأصلي) الى خمسة، لمساعدة اللاعبين على مواجهة الضغط المكثف للمباريات التي من المتوقع ان\n' +
              '          يخوضونها في الفترة المقبلة، لتعويض التوقف الذي يقترب من اتمام شهرين كاملين.\n' +
              '\n' +
              '          ومن المتوقع ان يصادق مجلس الاتحاد الدولي لكرة القدم ("إيفاب") المعني بقوانين اللعبة، على هذا الطرح الجمعة.',
            image: '/images/posts/2.jpg',
            category: 'أخبار',
            categoryId: 1,
            subCategory: 'وطنية',
            subCategoryColor:'yellow',
            subCategoryId: 1,
            tags: [
              {id: '1', tag: 'تونس'},
              {id: '2', tag: 'اخبار'},
              {id: '3', tag: 'سياسة'},
              {id: '4', tag: '2020'}
            ]
          },
          {
            id: '5',
            title: 'عنوان المقال مطول البيان',
            date: '10 جويلية 1994',
            writer: 'محمد المصور',
            body: ' ينكب مشرعو كرة القدم على دراسة تغيير "موقت" في قوانين اللعبة يسمح للفرق بإجراء خمسة تبديلات في المباريات بدلا\n' +
              '  <h1>Test</h1>  من ثلاثة، مع استئناف النشاط المعلق حاليا بسبب فيروس كورونا المستجد.\n' +
              '\n' +
              '          وكان الاتحاد الدولي للعبة (فيفا) قد تقدم في أواخرأبريل، باقتراح زيادة عدد التبديلات خلال المباريات، ورفعه من\n' +
              '          ثلاثة (خلال الوقت الأصلي) الى خمسة، لمساعدة اللاعبين على مواجهة الضغط المكثف للمباريات التي من المتوقع ان\n' +
              '          يخوضونها في الفترة المقبلة، لتعويض التوقف الذي يقترب من اتمام شهرين كاملين.\n' +
              '\n' +
              '          ومن المتوقع ان يصادق مجلس الاتحاد الدولي لكرة القدم ("إيفاب") المعني بقوانين اللعبة، على هذا الطرح الجمعة.',
            image: '/images/posts/1.jpg',
            category: 'أخبار',
            categoryId: 1,
            subCategory: 'وطنية',
            subCategoryColor:'brown',
            subCategoryId: 1,
            tags: [
              {id: '1', tag: 'تونس'},
              {id: '2', tag: 'اخبار'},
              {id: '3', tag: 'سياسة'},
              {id: '4', tag: '2020'}
            ]
          },
          {
            id: '6',
            title: 'عنوان المقال مطول البيان',
            date: '10 جويلية 1994',
            writer: 'محمد المصور',
            body: ' ينكب مشرعو كرة القدم على دراسة تغيير "موقت" في قوانين اللعبة يسمح للفرق بإجراء خمسة تبديلات في المباريات بدلا\n' +
              '  <h1>Test</h1>  من ثلاثة، مع استئناف النشاط المعلق حاليا بسبب فيروس كورونا المستجد.\n' +
              '\n' +
              '          وكان الاتحاد الدولي للعبة (فيفا) قد تقدم في أواخرأبريل، باقتراح زيادة عدد التبديلات خلال المباريات، ورفعه من\n' +
              '          ثلاثة (خلال الوقت الأصلي) الى خمسة، لمساعدة اللاعبين على مواجهة الضغط المكثف للمباريات التي من المتوقع ان\n' +
              '          يخوضونها في الفترة المقبلة، لتعويض التوقف الذي يقترب من اتمام شهرين كاملين.\n' +
              '\n' +
              '          ومن المتوقع ان يصادق مجلس الاتحاد الدولي لكرة القدم ("إيفاب") المعني بقوانين اللعبة، على هذا الطرح الجمعة.',
            image: '/images/posts/3.jpg',
            category: 'أخبار',
            categoryId: 1,
            subCategory: 'وطنية',
            subCategoryColor:'orange',
            subCategoryId: 1,
            tags: [
              {id: '1', tag: 'تونس'},
              {id: '2', tag: 'اخبار'},
              {id: '3', tag: 'سياسة'},
              {id: '4', tag: '2020'}
            ]
          }

        ]
      }
    }

  }


</script>
<style lang="scss" scoped>
  .tgs {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .single-post .entry-content .entry-image {
    max-width: 350px;
  }

  .entry-image {
    margin-bottom: 10px !important;
  }

  .entry-c {
    position: relative;
    overflow: hidden;
  }

  .entry-title h4 a {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #444;
    line-height: 1.5;
    font-family: AdobeArabic;
    color: #505050 !important;
  }

  .entry-content {
    position: relative;
    display: inline-block;
  }


  .entry-meta {
    //  margin: 10px -10px -15px 0;
    list-style: none;
  }

  .single-post .entry-meta {
    margin-bottom: 20px;
  }

  .entry-meta li {
    float: right;
    font-size: 12px;
    line-height: 14px;
    margin: 0 0 15px 10px;
    color: #999;
    font-family: 'Almarai', sans-serif;
    font-style: italic;
    font-weight: 400;
  }

  .entry-meta li:before {
    content: '/';
    display: inline-block;
    margin-left: 10px;
    opacity: 0.5
  }

  .entry-meta li i {
    position: relative;
    top: 1px;
    font-size: 14px;
    margin-left: 5px;
  }

  .entry-meta li a {
    color: #999;
  }

  .entry-meta li a:hover {
    color: $SABRA_BLUE !important;
  }

  .entry-meta li:first-child:before {
    display: none;
  }

  .entry-meta li ins {
    font-weight: 700;
    text-decoration: none;
  }

  .article-preview {
    font-family: AdobeArabic;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
  }
</style>
