<template>
  <v-layout>
    <div>
      <Titre2 Title="آخر الأخبار"/>

      <v-row>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 pr-0">
          <div class="entry-image">
            <a href="#">
              <img alt="image sabra FM" class="thumbnails" src="/images/posts/1.jpg"/>
              <client-only>
                <Tags bcolor="green" class="tgx" type="جهوية"/>
              </client-only>

            </a>
          </div>
          <div class="entry-c">
            <div class="entry-title">
              <h4><a href="#">هذه صورة المقال</a></h4>
            </div>
            <ul class="entry-meta ">
              <li><i class="icon-calendar3"></i> 10 جويلية 2020</li>
              <li><i class="icon-folder-open"></i> <a href="#">أخبار</a>, <a href="#">وطنية</a></li>
            </ul>
            <div class="entry-content article-preview">

              صبصبثب ضص ضصصي ضصي ضصي ضصصي ضصصي ضصصينمصثةلص ص لكصثل قلقممثقثقل صمثثل ةص ث ب
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 pr-0">
          <div class="entry-image">
            <a href="#">
              <img alt="image sabra FM" class="thumbnails" src="/images/posts/1.jpg"/>
              <client-only>
                <Tags bcolor="green" class="tgx" type="جهوية"/>
              </client-only>

            </a>
          </div>
          <div class="entry-c">
            <div class="entry-title">
              <h4><a href="#">هذه صورة المقال</a></h4>
            </div>
            <ul class="entry-meta ">
              <li><i class="icon-calendar3"></i> 10 جويلية 2020</li>
              <li><i class="icon-folder-open"></i> <a href="#">أخبار</a>, <a href="#">وطنية</a></li>
            </ul>
            <div class="entry-content article-preview">

              صبصبثب ضص ضصصي ضصي ضصي ضصصي ضصصي ضصصينمصثةلص ص لكصثل قلقممثقثقل صمثثل ةص ث ب
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 pr-0">
          <div class="entry-image">
            <a href="#">
              <img alt="image sabra FM" class="thumbnails" src="/images/posts/1.jpg"/>
              <client-only>
                <Tags bcolor="green" class="tgx" type="جهوية"/>
              </client-only>

            </a>
          </div>
          <div class="entry-c">
            <div class="entry-title">
              <h4><a href="#">هذه صورة المقال</a></h4>
            </div>
            <ul class="entry-meta ">
              <li><i class="icon-calendar3"></i> 10 جويلية 2020</li>
              <li><i class="icon-folder-open"></i> <a href="#">أخبار</a>, <a href="#">وطنية</a></li>
            </ul>
            <div class="entry-content article-preview">

              صبصبثب ضص ضصصي ضصي ضصي ضصصي ضصصي ضصصينمصثةلص ص لكصثل قلقممثقثقل صمثثل ةص ث ب
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 pr-0">
          <div class="entry-image">
            <a href="#">
              <img alt="image sabra FM" class="thumbnails" src="/images/posts/1.jpg"/>
              <client-only>
                <Tags bcolor="green" class="tgx" type="جهوية"/>
              </client-only>

            </a>
          </div>
          <div class="entry-c">
            <div class="entry-title">
              <h4><a href="#">هذه صورة المقال</a></h4>
            </div>
            <ul class="entry-meta ">
              <li><i class="icon-calendar3"></i> 10 جويلية 2020</li>
              <li><i class="icon-folder-open"></i> <a href="#">أخبار</a>, <a href="#">وطنية</a></li>
            </ul>
            <div class="entry-content article-preview">

              صبصبثب ضص ضصصي ضصي ضصي ضصصي ضصصي ضصصينمصثةلص ص لكصثل قلقممثقثقل صمثثل ةص ث ب
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 pr-0">
          <div class="entry-image">
            <a href="#">
              <img alt="image sabra FM" class="thumbnails" src="/images/posts/1.jpg"/>
              <client-only>
                <Tags bcolor="green" class="tgx" type="جهوية"/>
              </client-only>

            </a>
          </div>
          <div class="entry-c">
            <div class="entry-title">
              <h4><a href="#">هذه صورة المقال</a></h4>
            </div>
            <ul class="entry-meta ">
              <li><i class="icon-calendar3"></i> 10 جويلية 2020</li>
              <li><i class="icon-folder-open"></i> <a href="#">أخبار</a>, <a href="#">وطنية</a></li>
            </ul>
            <div class="entry-content article-preview">

              صبصبثب ضص ضصصي ضصي ضصي ضصصي ضصصي ضصصينمصثةلص ص لكصثل قلقممثقثقل صمثثل ةص ث ب
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 pr-0">
          <div class="entry-image">
            <a href="#">
              <img alt="image sabra FM" class="thumbnails" src="/images/posts/1.jpg"/>
              <client-only>
                <Tags bcolor="green" class="tgx" type="جهوية"/>
              </client-only>

            </a>
          </div>
          <div class="entry-c">
            <div class="entry-title">
              <h4><a href="#">هذه صورة المقال</a></h4>
            </div>
            <ul class="entry-meta ">
              <li><i class="icon-calendar3"></i> 10 جويلية 2020</li>
              <li><i class="icon-folder-open"></i> <a href="#">أخبار</a>, <a href="#">وطنية</a></li>
            </ul>
            <div class="entry-content article-preview">

              صبصبثب ضص ضصصي ضصي ضصي ضصصي ضصصي ضصصينمصثةلص ص لكصثل قلقممثقثقل صمثثل ةص ث ب
            </div>
          </div>
        </div>

      </v-row>


    </div>

  </v-layout>
</template>
<script>
  import Titre2 from "./Titre2";
  import Tags from "./Tags";

  export default {
    name: 'MoreSports',
    components: {
      Titre2,
      Tags
    }


  }


</script>
<style lang="scss" scoped>
  .tgs {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .single-post .entry-content .entry-image {
    max-width: 350px;
  }

  .entry-image {
    margin-bottom: 10px !important;
  }

  .entry-c {
    position: relative;
    overflow: hidden;
  }

  .entry-title h4 a {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #444;
    line-height: 1.5;
    font-family: AdobeArabic;
    color: #505050 !important;
  }

  .entry-content {
    position: relative;
    display: inline-block;
  }


  .entry-meta {
    //  margin: 10px -10px -15px 0;
    list-style: none;
  }

  .single-post .entry-meta {
    margin-bottom: 20px;
  }

  .entry-meta li {
    float: right;
    font-size: 12px;
    line-height: 14px;
    margin: 0 0 15px 10px;
    color: #999;
    font-family: 'Almarai', sans-serif;
    font-style: italic;
    font-weight: 400;
  }

  .entry-meta li:before {
    content: '/';
    display: inline-block;
    margin-left: 10px;
    opacity: 0.5
  }

  .entry-meta li i {
    position: relative;
    top: 1px;
    font-size: 14px;
    margin-left: 5px;
  }

  .entry-meta li a {
    color: #999;
  }

  .entry-meta li a:hover {
    color: $SABRA_BLUE !important;
  }

  .entry-meta li:first-child:before {
    display: none;
  }

  .entry-meta li ins {
    font-weight: 700;
    text-decoration: none;
  }

  .article-preview {
    font-family: AdobeArabic;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
  }
</style>
