<template>
  <div class="ipost mb-3 animated zoomIn delay-1s">
    <div class="entry-image">
      <nuxt-link to="/">
        <v-img
          :src="`${Img}`"
          alt="Image"
          class="image_fade"
        >
        </v-img>
        <client-only>
          <Tagx bcolor="green" class="tgx" type="جهوية"/>
        </client-only>
      </nuxt-link>

    </div>
    <div class="entry-title">

      <nuxt-link to="/"><h3 class="PTitle">
        عنوان المقال عنوان المقال
      </h3></nuxt-link>

    </div>
    <ul class="entry-meta clearfix">
      <li>
        <v-icon classe="sub-icon" size="16">mdi-calendar-month</v-icon>
        <span class="Almarai">
        14 جانفي 2020
        </span>
      </li>
    </ul>
    <div class="entry-content" dir="auto">
      <p class="text-justify">نص المقال يصيصي dfzaedzed صثثبثب. نص المقال يصيصي dfzaedzed
        صثثبصثب صثب نص المقا صثثصثب</p>
      <nuxt-link class="more-link mt-3" to="/"><span class="Almarai">إقرأ المزيد</span></nuxt-link>
    </div>

  </div>

</template>
<script>
  import Tags from "./Tags";

  export default {
    name: 'PreviewPost',
    components: {
      'Tagx': Tags
    },
    head() {
      return {
        link: [
          {
            rel: 'stylesheet',
            href: 'https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap'
          }
        ]
      }
    },
    computed: {
      Img() {
        return ('/images/1.jpg')
      }
    },
    mounted() {
      console.log("mounted")
    }
  }
</script>
<style lang="scss">
  img {
    max-width: 100%;
  }

  .entry-image:hover {
    opacity: 0.8;
  }

  .tgx {
    position: absolute;
    top: 2px;
    right: 2px;
  }

  .entry-image, .entry-image > a, .entry-image .slide a, .entry-image img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
  }

  .entry-image {
    margin-bottom: 20px;
  }

  .ipost .entry-title h3, .ipost .entry-title h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #555;
  }

  .entry-title .PTitle:hover {
    color: $SABRA_GREEN;
  }

  .Almarai {
    font-family: "Almarai";
    font-style: normal;
  }


  a {
    text-decoration: none !important;
  }

  .ipost .entry-meta {
    margin-right: 0;
    display: flex;
  }

  .entry-meta {
    margin: 10px 0 -15px -10px;
    list-style: none;
  }

  .ipost .entry-content {
    margin-top: 10px;
  }

  .entry-content {
    position: relative;
  }

  .entry-meta li {
    float: right;
    margin: 0 0 15px 10px;
    font-size: 13px;
    line-height: 14px;
    color: #999;
    font-family: 'Crete Round', serif;
    font-style: italic;
  }

  .ipost .entry-content p {
    margin-bottom: 0;
    color: #555;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
  }

  .more-link {
    float: left;
    display: inline-block;
    border-bottom: 1px solid $SABRA_GREEN;
    padding: 0 2px;
    color: $SABRA_GREEN !important;
    font-style: italic;
    font-size: 12px;
  }

  .more-link:hover {
    border-bottom: 1px solid $SABRA_BLUE;
    color: $SABRA_BLUE !important;

  }

</style>
