<template>
  <v-layout>
    <div class="entry ">
      <!-- Entry Title
      ============================================= -->
      <div class="entry-title">
        <h2> {{post.title}} </h2>
      </div><!-- .entry-title end -->
      <!-- Entry Meta
      ============================================= -->
      <ul class="entry-meta">
        <li><i class="icon-calendar3"></i> {{post.date}}</li>
        <li><a href="#"><i class="icon-user"></i> {{post.writer}} </a></li>
        <li><i class="icon-folder-open"></i> <a :href="catUrl(post.categoryId)"> {{post.category}}</a>, <a :href="subCatUrl(post.categoryId,post.subCategoryId)">{{post.subCategory}}</a>
        </li>
        <li><a href="#"><i class="icon-quote-right"></i></a></li>
      </ul>

      <!-- .entry-meta end -->

      <!-- Entry Image
      ============================================= -->
      <div class="entry-image">
        <a href="#"><img :src="post.image" alt="Blog Single"></a>
      </div><!-- .entry-image end -->

      <!-- Entry Content
      ============================================= -->
      <div class="entry-content notopmargin">
        <div class="article" v-html="post.body">
        </div>
        <!-- Post Single - Content End -->

        <!-- Tag Cloud
        ============================================= -->
        <div class="tagcloud  bottommargin mt-10"
             v-for="(tags, index) in post.tags"
        >
          <a href="#">{{tags.tag}}</a>
        </div><!-- .tagcloud end -->
        <div class="clear m7"></div>

        <SocialShare
          class="mt-7"
          :description="post.title"
          :hashtags="getHashtags()"
          :quote="post.title"
          :title="post.title"
          :twitterUser="twitterUser"
          :url="this.$route.params.slug"
        />

      </div>
    </div>
  </v-layout>
</template>
<script>
  import SocialShare from "./SocialShare";
  // :url="this.$route.params.slug"
  export default {
    name: 'SinglePost',
    props: ['id'],
    data() {
      return {
        twitterUser:'twitterUser',
        post: {
          title: 'عنوان المقال مطول البيان',
          date: '10 جويلية 1994',
          writer: 'محمد المصور',
          body: ' ينكب مشرعو كرة القدم على دراسة تغيير "موقت" في قوانين اللعبة يسمح للفرق بإجراء خمسة تبديلات في المباريات بدلا\n' +
            '        <h1>Test</h1>  من ثلاثة، مع استئناف النشاط المعلق حاليا بسبب فيروس كورونا المستجد.\n' +
            '\n' +
            '          وكان الاتحاد الدولي للعبة (فيفا) قد تقدم في أواخرأبريل، باقتراح زيادة عدد التبديلات خلال المباريات، ورفعه من\n' +
            '          ثلاثة (خلال الوقت الأصلي) الى خمسة، لمساعدة اللاعبين على مواجهة الضغط المكثف للمباريات التي من المتوقع ان\n' +
            '          يخوضونها في الفترة المقبلة، لتعويض التوقف الذي يقترب من اتمام شهرين كاملين.\n' +
            '\n' +
            '          ومن المتوقع ان يصادق مجلس الاتحاد الدولي لكرة القدم ("إيفاب") المعني بقوانين اللعبة، على هذا الطرح الجمعة.',
          image: '/images/posts/1.jpg',
          category: 'أخبار',
          categoryId: 1,
          subCategory: 'وطنية',
          subCategoryId: 1,
          tags: [
            {id: '1', tag: 'تونس'},
            {id: '2', tag: 'اخبار'},
            {id: '3', tag: 'سياسة'},
            {id: '4', tag: '2020'},
          ]
        }
      }
    },
    components: {
      SocialShare,
    },

  methods: {


    /***** Url to categories "أخبار رياضة" subCat "جهوية وطنية" *****/

    catUrl: function(categoryId) {
      var urlcat ='#'
      if (categoryId === 1) {
        urlcat = '/news'
      }
      if (categoryId  === 2) {
        urlcat ='/sports'
      }
      return urlcat
    },

    subCatUrl: function(categoryId ,subCatId) {
      var Urlsub ='#'
      if (categoryId === 1) {
        Urlsub = '/news/category/' + subCatId
      }
      if (categoryId  === 2) {
        Urlsub = '/sports/category/' + subCatId
      }
      return Urlsub
    },
    getHashtags(){
      var tags = this.post.tags
      var tagx=''
      tags.forEach(function (item, index) {
          tagx += item.tag +', '
      });
      console.log(tagx)
      return tagx
    }
    }


  }
</script>
<style lang="scss" scoped>
  #posts {
    position: relative;
  }

  .entry-title h2 {
    margin: 0;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #444;
    line-height: 1.5;
    font-family: AdobeArabic;
  }

  .entry {
    position: relative;
    margin: 0 0 50px;
  }

  .entry:after {
    content: '';
    position: relative;
    height: 2px;
    margin-top: 50px;
    background-color: #F5F5F5;
  }

  .entry-image {
    margin-bottom: 30px;
  }

  .entry-image,
  .entry-image > a,
  .entry-image .slide a,
  .entry-image img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
  }

  .entry-image iframe {
    display: block;
  }

  .entry-image video {
    display: block;
    width: 100%;
  }

  .entry-image img {
    border-radius: 3px;
  }


  .entry-title h2 a {
    color: #333;
  }

  .entry-title h2 a:hover {
    color: #1ABC9C;
  }

  .entry-meta {
    margin: 0px 15px 0 0;
    list-style: none;
    display: inline-block;
  }

  .single-post .entry-meta {
    margin-bottom: 20px;
  }

  .entry-meta li {
    float: right;
    font-size: 13px;
    line-height: 14px;
    margin: 0 0 15px 10px;
    color: #999;
    font-family: 'Almarai', sans-serif;
    font-style: italic;
    font-weight: 400;
  }

  .entry-meta li:before {
    content: '/';
    display: inline-block;
    margin-left: 10px;
    opacity: 0.5
  }

  .entry-meta li i {
    position: relative;
    top: 1px;
    font-size: 14px;
    margin-left: 5px;
  }

  .entry-meta li a {
    color: #999;
  }

  //.entry-meta li a:hover {
  //  color: $SABRA_BLUE !important;
  //}
  .entry-meta li:hover {
    color: $SABRA_BLUE !important;
  }

  .entry-meta li i:hover {
    color: $SABRA_GREEN !important;
  }

  .entry-meta li:first-child:before {
    display: none;
  }

  .entry-meta li ins {
    font-weight: 700;
    text-decoration: none;
  }

  .entry-c {
    position: relative;
    overflow: hidden;
  }

  #posts .entry-content {
    margin-top: 30px;
  }

  .single-post .entry-content .entry-image {
    max-width: 350px;
  }

  .entry-content {
    position: relative;
  }

  .entry-link {
    display: block;
    width: 100%;
    background-color: #F5F5F5;
    padding: 30px 0;
    text-align: center;
    color: #444;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 3px;
  }


  .entry-link:hover {
    color: #FFF;
    background-color: #1ABC9C;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }

  .entry-link span {
    display: block;
    margin-top: 5px;
    font-family: 'Crete Round', serif;
    font-style: italic;
    font-weight: normal;
    text-transform: none;
    letter-spacing: 0;
    font-size: 14px;
    color: #AAA;
  }

  .entry-link:hover span {
    color: #EEE;
  }

  .entry blockquote p {
    font-weight: 400;
    font-family: 'Crete Round', serif;
    font-style: italic;
  }

  .tagcloud a {
    display: block;
    float: left;
    margin-right: 4px;
    margin-bottom: 4px;
    padding: 3px 6px;
    border: 1px solid #E5E5E5;
    font-size: 13px !important;
    color: #666;
    border-radius: 2px;
  }

  .tagcloud a:hover {
    color: $SABRA_GREEN
  }

  .article {
    font-family: AdobeArabic;
    font-size: 22px;
    font-weight: normal;
    text-align: justify-all;
  }
</style>
