<template>
  <v-layout
    align-center
    app
    justify-center
    wrap>
    <client-only>


      <social-sharing :description="description"
                      :hashtags="hashtags"
                      :quote="quote"
                      :title="title"
                      :twitter-user="twitterUser"
                     :url="url"
                      inline-template>

        <div class="lineShare text-right">
           <span class="share">
             مشاركة هذا المقال
             </span>
          <span class="shareit">
          <network network="facebook">
            <i class="fab fa-facebook-square facebook2 fabx"></i>
          </network>
          <network network="twitter">
            <i class="fab fa-twitter-square twitter2 fabx"></i>
          </network>
          <network network="email">
            <i class="fa fa-envelope email2 fabx"></i>
          </network>
         </span>
        </div>
      </social-sharing>

    </client-only>
  </v-layout>


</template>

<script>
  export default {
    name: 'SocialSare',
    props:['description','hashtags','quote','title','twitterUser','url']


  }

</script>

<style lang="scss">
  .share {
    font-family: 'Cairo', sans-serif;
    font-size: 16px;
    color: #919191;
    background-color: white;
    padding-left: 5px !important;
    padding-right: 5px !important;
    position: relative;
    display: inline-block;
    margin-right: 15px;
  }

  .lineShare {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    display: block;
  }

  .shareit {
    float: left;
    padding-left: 5px !important;
    padding-right: 5px !important;
    position: relative;
    display: inline-block;
    background-color: white;
    margin-left: 20px !important;
  }

  .lineShare:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    border-top: 3px double #E5E5E5;
    left: auto;
    top: 46%;
    right: 0;
  }


  .fabx {
    font-size: 30px !important;
    cursor: pointer;
    margin-left: 7px;
    color: #919191;
  }

  .facebook2:hover {
    color: #3b5998
  }

  .twitter2:hover {
    color: #00acee
  }

  .email2:hover {
    color: $SABRA_GREEN;
  }


</style>
