<template>
  <span>

<span :class="[className]" >
  {{type}}
</span>

      <v-style>
    .{{ className2 }} {
    background: {{ bcolor }};
    }
    .{{ className2 }}:before {
    border-right-color: {{ bcolor }} !important;
    }
  </v-style>


</span>
</template>
<script>
  export default {
    name: 'Tags',
    data(){
      return {
        className: 'tags tags-'+this.bcolor ,
        className2 : 'tags-'+this.bcolor
      }
    },
    props: ['type','bcolor']

  }
</script>

<style lang="scss">
  /******** TAGS ******/

  .tags {
    font-family: 'Cairo';
    line-height: 24px !important;
    height: 26px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    font-size: 14px;
    padding: 0px 12px 0px 12px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
  }

  .tags:before {
    content: "";
    float: left;
    position: absolute;
    top: 0;
    left: -12px;
    width: 0;
    height: 0;
    border-left-color: transparent ;
    border-top-color: transparent ;
    border-bottom-color: transparent ;

    border-style: solid;
    border-width: 12px 12px 14px 0;
  }

  .tags:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    float: left;
    width: 6px;
    height: 6px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #fff;

  }

  div.bn-news > ul > li > a > span {
    margin-right: 6px;
    margin-left: 20px;
  }

  .tagsa .tags:hover {
    color: #429353 !important;
    background: #042734 !important;

  }

  .tagsa .tags:hover:before {
    border-color: transparent #042734 transparent transparent !important;
  }

  .tagsa .tags:hover:after {
    width: 6px;
    height: 6px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #429353;
  }


</style>
