<template>
  <div
    class="fancy-title-4"
    ref="titlex"
  >
    <h1 v-html="finalTitle"></h1>
  </div>
</template>
<script>
  export default {
    name: 'Titre4',
    data() {
      return {
        finalTitle: ''
      }
    },
    props: ['Title'],
    head() {
      return {
        link: [
          {
            rel: 'stylesheet',
            href: 'https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap'
          }
        ]
      }
    },
    beforeMount() {
      this.initTitle
    },
    computed: {

      initTitle() {

        let txt = this.Title.split(' ')
        if (txt.length >= 2) {
          txt[0] = '<span class="firstWord4">' + txt[0] + '</span>';
          this.finalTitle = txt.join(' ')
        } else {
          this.finalTitle = this.Title
        }
      }
    }
  }
</script>
<style lang="scss">
  .fancy-title-4{
    position: relative;
    margin-bottom: 30px;
    margin-top: 0px;
    width: 100%;
    padding: 2px 0 2px 0;
    border-right: 5px solid $SABRA_BLUE;
   // border-left: 5px solid $SABRA_GREEN;
    margin-bottom: 30px;

  }

  .fancy-title-4 h1 {
    display: inline-block;
    //background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 5%, rgb(230, 230, 230) 50%);
    background-color: rgb(230, 230, 230);
    color: $SABRA_BLUE;
    width: 100%;
    padding: 10px 20px 5px 35px;
    font-family: 'Amiri', serif;
    font-size: 28px;
    font-weight: 600;
    border-radius: 18px 0 0;
  }

  .firstWord4 {
    color: $SABRA_GREEN !important;
  }
</style>
