<template>
  <div
    class="fancy-title"
    :style="{background: `url(${backgroundUrl}) repeat-x center `}"
    ref="titlex"
  >
    <h1 v-html="finalTitle"></h1>
  </div>
</template>
<script>
  export default{
    name:'Titre',
    data(){
      return{
       finalTitle: ''
      }
    },
    props:['Title'],
    head() {
      return {
        link: [
          {
            rel: 'stylesheet',
            href: 'https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap'
          }
        ]
      }
    },
    beforeMount() {
      this.initTitle
    },
    computed: {
      backgroundUrl() {
        return require('~/assets/images/dotted.png')
      },
      initTitle() {
        let txt =this.Title.split(' ')
        if(txt.length >= 2){
          txt[0] = '<span class="firstWord">'+txt[0]+'</span>';
         this.finalTitle = txt.join(' ')
        }else{
          this.finalTitle = this.Title
        }
      }
    }
  }
</script>
<style lang="scss">
  .fancy-title {
    position: relative;
    margin-bottom: 30px;
    margin-top: 0px;
    padding-right: 15px;
    width: 100%;
  }
  .fancy-title h1 {
    display: inline-block;
    background-color: #ffffff ;
    color: $SABRA_BLUE;
    padding-right: 15px;
    padding-left: 15px;
    font-family: 'Amiri', serif;
    font-size: 36px;
    font-weight: 600;
  }
.firstWord{
  color: $SABRA_GREEN;
}
</style>
