<template>
  <v-container class="widthPost">
    <v-row no-gutters>
      <div class="col-sm-5 col-md-6 col-lg-4">
        <nuxt-link  :to="plink">
          <div class="entry-image">
            <v-img
              :src="pimage"
              alt="Image"
              class="image_fade img"
            />
            <client-only>
              <Tagx :bcolor="psubCatColor" class="tgx" :type="psubCatTxt"/>
            </client-only>
          </div>
        </nuxt-link>
      </div>
      <div class="col-sm-7 col-md-6 col-lg-8">
        <div class="postPrev">
          <div class="entry-title">
            <nuxt-link class="titlelink"  :to="plink"><span class="ptitle">
             {{ptitle}}
            </span></nuxt-link>
          </div>
          <div class="divDate">
            <span class="postDate">
            <i class="icon-calendar3"></i> {{$moment(pdate).format('LLLL')}} </span>
          </div>
          <div class="entry-content" dir="auto">
            <p class="text-justify" >
              {{this.truncate(this.htmltotxt(pbody), 100) }}

            </p>
            <nuxt-link class="more-link mt-3 hvr-backward" :to="plink">
              <span class="Almarai ">
                <i class="icon-line-rewind ml-1"></i>إقرأ المزيد</span>
            </nuxt-link>
          </div>
        </div>
      </div>

    </v-row>

  </v-container>
</template>
<script>
  import Tags from "./Tags";

  export default {
    name: 'PreviewPost',
    props:['plink','ptitle','pdate','pimage','pbody','psubCatTxt','psubCatColor'],
    components: {
      'Tagx': Tags
    },
    head() {
      return {
        link: [
          {
            rel: 'stylesheet',
            href: 'https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap'
          }
        ]
      }
    }
  }
</script>
<style lang="scss" scoped>

  .widthPost {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
    border-bottom: #cccccc 1px dashed;
  }



  .entry-content {
    padding-top: 15px;
  }

  .entry-content > p {
    font-family: AdobeArabic;
    font-size: 20px;
  }


  .postPrev {
    padding: 10px !important;
    padding-right: 25px !important;
  }


  img {
    max-width: 100%;
  }

  .entry-image:hover {
    opacity: 0.8;
  }

  .tgx {
    position: absolute;
    top: 2px;
    right: 2px;
  }

  .ptitle:hover {
    color: $SABRA_GREEN !important;
  }

  .ptitle {
    font-family: "Cairo";
    font-style: normal;
    font-weight: 600;
    color: black !important;
  }

  .postDate {
    font-size: 12px;
    line-height: 14px;
    margin-right: 5px;
    color: #999;
    font-family: "Almarai", sans-serif;
    font-style: italic;
    font-weight: 400;
  }

  .ipost .entry-content p {
    margin-bottom: 0;
    color: #555;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
  }

  .more-link {
    float: left;
    display: inline-block;
    border-bottom: 1px solid $SABRA_GREEN;
    padding: 0 2px;
    color: $SABRA_GREEN !important;
    font-style: italic;
    font-size: 12px;
  }

  .more-link:hover {
    border-bottom: 1px solid $SABRA_BLUE;
    color: $SABRA_BLUE !important;

  }
.entry-image{
  height: 100%;
}
  .img{
    height: 100%;
  }


</style>
