<template>
  <v-row>
    <div :index="index" :key="zodiac.id" class="col-lg-3 col-md-4 col-sm-6 col-12" v-for="(zodiac , index) in zodiacs">

      <div class="flip-card text-center">
        <div
          :style="{background: `url('/images/zodiac/${zodiac.id}.png') center center no-repeat ; background-size: contain; `}"
          class="flip-card-front"
        >
          <div class="flip-card-inner-front">
            <div class="card nobg noborder text-center">
              <div class="card-body">
                <i class="icon-line2-camera h1"></i>
                <h3 class="card-title">{{zodiac.name}}</h3>
                <p class="card-text card-date ">{{zodiac.date}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="flip-card-back bg-danger no-after">
          <div class="flip-card-inner">
            <p class="mb-2 text-white z-description">{{zodiac.description}}</p>
          </div>
        </div>
      </div>
    </div>


  </v-row>

</template>
<script>
  import SocialShare from "./SocialShare";


  export default {
    components: {
      SocialShare
    },
    data() {
      return {
        zodiacs: [
          {
            id: 1,
            name: 'برج الحمل',
            date: '21 مارس - 20 أفريل',
            description: 'طبيعته ناري وكوكبه المريخ، يمتلك أصحاب هذا البرج حدساً قوّياً وبديهة سريعة، لذلك يعرف بأنه ذكي.'
          },
          {
            id: 2,
            name: 'برج الثور',
            date: '21 أفريل - 20 ماي',
            description: 'طبيعته ترابي وكوكبه الزهرة، يكد ويتعب من أجل نفسه ومن أجل الآخرين'
          },
          {
            id: 3,
            name: 'برج الجوزاء',
            date: '21 ماي - 21 جوان',
            description: 'طبيعته هوائي وكوكبه عطارد، لا يحب العزلة والإنفراد ويفضل أن يرتبط أكثر من مرة على أن يكون وحيداً، يمتلك خيالاً خصباً'
          },
          {
            id: 4,
            name: 'برج السرطان',
            date: '22 جوان - 23 جويلية',
            description: 'طبيعته مائي وكوكبه عطارد، ينفرد بشخصية غامضة ولا يأبه بآراء الآخرين'
          },
          {
            id: 5,
            name: 'برج الأسد',
            date: '21 جويلية - 23 أوت',
            description: 'طبيعته ناري وكوكبه الشمس، يعتبر أصحاب هذا البرج من أكرم الأبراج وأكثرها عطفاً على الآخرين'
          },
          {
            id: 6,
            name: 'برج العذراء',
            date: '24 أوت - 23 سبتمبر',
            description: 'طبيعته ترابي وكوكبه عطارد، دائم التفكير ونجده معظم الأوقات مشغول البال'
          },
          {
            id: 7,
            name: 'برج الميزان',
            date: '24 سبتمبر - 23 أكتوبر',
            description: 'طبيعته هوائي وكوكبه الزهرة، متناقض متقلّب المزاج، يأخذ القرارات بشكل موزون ويدافع دوماً عن الحق'
          },
          {
            id: 8,
            name: 'برج العقرب',
            date: '24 أكتوبر - 22 نوفمبر ',
            description: 'طبيعته مائي وكوكبه المريخ، يظهر متماسكاً وقوياً من الخارج حتى لو كان مكسوراً ومتعباً من الداخل'
          },
          {
            id: 9,
            name: 'برج القوس',
            date: '23 نوفمبر - 20 ديسمبر ',
            description: 'طبيعته ناري وكوكبه المشتري، يحب أخذ الأمور بكل بساطة، قوي، وكريم، وصريح، ومستقل'
          },
          {
            id: 10,
            name: 'برج الجدي',
            date: '21 ديسمبر - 20 جانفي',
            description: 'طبيعته ترابي وكوكبه زحل، يمكن الوثوق به ثقة عمياء فهو أهل للثقة، يستطيع السيطرة على زمام الأمور بطريقة محكمة'
          },
          {
            id: 11,
            name: 'برج الدلو',
            date: '21 جانفي - 19 فيفري',
            description: 'طبيعته هوائي وكوكبه زحل، يكون خجولاً في بعض الأحيان ومغروراً في أحيان أخرى، لذا يصعب فهمه'
          },
          {
            id: 12,
            name: 'برج الحوت',
            date: '20 فيفري - 20 مارس',
            description: 'طبيعته مائي وكوكبه المشتري، قنوع يرضى بحاضره ولا يهتم بمستقبله'
          }
        ]
      }
    }


  }
</script>
<style lang="scss" scoped>

  .card-title {
    font-family: "Almarai", sans-serif;
    font-size: medium;
  }

  .z-description {
    font-family: AdobeArabic;
    font-size: 22px !important;
  }

  .card-date {
    font-family: AdobeArabic;
    font-size: 18px !important;
  }

  .flip-card {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }

  .flip-card-front,
  .flip-card-back {
    background-size: cover;
    background-position: center;
    -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    height: 280px;
    border-radius: 6px;
    color: #FFF;
    font-size: 1.5rem;
  }

  .flip-card-back {
    background-color: $SABRA_GREEN;
  }

  .flip-card-front.no-after:after,
  .flip-card-back.no-after:after {
    content: none
  }

  .flip-card-front:after,
  .flip-card-back:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    opacity: 0.6;
    background-color: rgba(0, 0, 0, 0.72);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 6px;
  }

  .flip-card:hover .flip-card-front,
  .flip-card:hover .flip-card-back {
    -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }

  .flip-card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .flip-card-inner {
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
  }

  .flip-card-inner-front {

    bottom: 0 !important;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    padding-bottom: .5rem !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
  }

  .flip-card-back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .flip-card-front,
  .flip-card:hover .flip-card-back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .top-to-bottom .flip-card-back {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .top-to-bottom .flip-card-front,
  .top-to-bottom:hover .flip-card-back {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .top-to-bottom:hover .flip-card-front {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .flip-card-inner span {
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
  }

  .flip-card-inner p {
    position: relative;
    font-size: 16px;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.7);
  }

  .owl-carousel .owl-stage {
    padding: 20px 0;
  }


</style>
