<template>
  <v-layout>
    <v-container>
      <v-row no-gutters>
        <v-col cols="12">
          <Titre2 :Title="'أخبار ' + subcat"/>
          <client-only>
            <div class="allWpost"
            >
              <WidthPost
                :id="'news'+index"
                :key="index"
                :pbody="nwx.body"
                :pdate="nwx.date"
                :pimage="nwx.image"
                :plink="'/news/'+nwx.id"
                :psubCatColor="nwx.subCatColor"
                :psubCatTxt="nwx.subCatTxt"
                :ptitle="nwx.title"
                data-aos="fade-left"
                data-aos-easing="linear"
                v-for="(nwx, index) in news"
              />
            </div>


            <div class="text-center divpag">
              <paginate
                :click-handler="clickCallback"
                :container-class="'pagination'"
                :next-text="'التالي'"
                :page-count="10"
                :prev-text="'السابق'">
              </paginate>
            </div>
          </client-only>
        </v-col>

      </v-row>
    </v-container>
  </v-layout>
</template>
<script>
  import Titre2 from "../../../components/tools/Titre2";
  import WidthPost from "../../../components/tools/WidthPost";




  export default {
    components: {
      Titre2,
      WidthPost
    },
    data() {
      return {
        //Get 10 _subCategory news أخبار per page *** pagination  with subcategory
        // colors of subcategory must be a word example red, green yellow ....

        subcat: 'جهوية',
        news: [
          {
            id: '1',
            title: 'عنوان المقال',
            date: '12 أفريل 2020',
            image: '/images/1.jpg',
            body: 'المقال هتصييره هتلاصؤ هلاصث <h1>Titre test</h1> هصهؤ ه صتؤى صهثؤ تصىؤ هت<h1>Titre test</h1> ى صهؤىصث ؤهتصىثه صثتالمقال هتصييره هتلاصؤ هلاصث <h1>Titre test</h1> هصهؤ ه صتؤى صهثؤ تصىؤ هت<h1>Titre test</h1> ى صهؤىصث ؤهتصىثه صثتؤىصثهؤ',
            subCatTxt: 'وطنية',
            subCatColor: 'red'  // colors must be a word exple red, green yellow ....
          },
          {
            id: '2',
            title: 'عنوان المقال',
            date: '12 أفريل 2020',
            image: '/images/2.jpg',
            body: 'المقال هتصييره هتلاصؤ هلاصث <h1>Titre test</h1> هصهؤ ه صتؤى صهثؤ تصىؤ هت<h1>Titre test</h1> ى صهؤىصث ؤهتصىثه صثتالمقال هتصييره هتلاصؤ هلاصث <h1>Titre test</h1> هصهؤ ه صتؤى صهثؤ تصىؤ هت<h1>Titre test</h1> ى صهؤىصث ؤهتصىثه صثتؤىصثهؤ',
            subCatTxt: 'وطنية',
            subCatColor: 'red'
          },
          {
            id: '3',
            title: 'عنوان المقال',
            date: '12 أفريل 2020',
            image: '/images/3.jpg',
            body: 'المقال هتصييره هتلاصؤ هلاصث <h1>Titre test</h1> هصهؤ ه صتؤى صهثؤ تصىؤ هت<h1>Titre test</h1> ى صهؤىصث ؤهتصىثه صثتالمقال هتصييره هتلاصؤ هلاصث <h1>Titre test</h1> هصهؤ ه صتؤى صهثؤ تصىؤ هت<h1>Titre test</h1> ى صهؤىصث ؤهتصىثه صثتؤىصثهؤ',
            subCatTxt: 'وطنية',
            subCatColor: 'red'
          },
          {
            id: '4',
            title: 'عنوان المقال',
            date: '12 أفريل 2020',
            image: '/images/3.jpg',
            body: 'المقال هتصييره هتلاصؤ هلاصث <h1>Titre test</h1> هصهؤ ه صتؤى صهثؤ تصىؤ هت<h1>Titre test</h1> ى صهؤىصث ؤهتصىثه صثتالمقال هتصييره هتلاصؤ هلاصث <h1>Titre test</h1> هصهؤ ه صتؤى صهثؤ تصىؤ هت<h1>Titre test</h1> ى صهؤىصث ؤهتصىثه صثتؤىصثهؤ',
            subCatTxt: 'وطنية',
            subCatColor: 'red'
          },
          {
            id: '5',
            title: 'عنوان المقال',
            date: '12 أفريل 2020',
            image: '/images/3.jpg',
            body: 'المقال هتصييره هتلاصؤ هلاصث <h1>Titre test</h1> هصهؤ ه صتؤى صهثؤ تصىؤ هت<h1>Titre test</h1> ى صهؤىصث ؤهتصىثه صثتالمقال هتصييره هتلاصؤ هلاصث <h1>Titre test</h1> هصهؤ ه صتؤى صهثؤ تصىؤ هت<h1>Titre test</h1> ى صهؤىصث ؤهتصىثه صثتؤىصثهؤ',
            subCatTxt: 'وطنية',
            subCatColor: 'red'
          },
          {
            id: '6',
            title: 'عنوان المقال',
            date: '12 أفريل 2020',
            image: '/images/3.jpg',
            body: 'المقال هتصييره هتلاصؤ هلاصث <h1>Titre test</h1> هصهؤ ه صتؤى صهثؤ تصىؤ هت<h1>Titre test</h1> ى صهؤىصث ؤهتصىثه صثتالمقال هتصييره هتلاصؤ هلاصث <h1>Titre test</h1> هصهؤ ه صتؤى صهثؤ تصىؤ هت<h1>Titre test</h1> ى صهؤىصث ؤهتصىثه صثتؤىصثهؤ',
            subCatTxt: 'وطنية',
            subCatColor: 'red'
          },
          {
            id: '7',
            title: 'عنوان المقال',
            date: '12 أفريل 2020',
            image: '/images/3.jpg',
            body: 'المقال هتصييره هتلاصؤ هلاصث <h1>Titre test</h1> هصهؤ ه صتؤى صهثؤ تصىؤ هت<h1>Titre test</h1> ى صهؤىصث ؤهتصىثه صثتالمقال هتصييره هتلاصؤ هلاصث <h1>Titre test</h1> هصهؤ ه صتؤى صهثؤ تصىؤ هت<h1>Titre test</h1> ى صهؤىصث ؤهتصىثه صثتؤىصثهؤ',
            subCatTxt: 'وطنية',
            subCatColor: 'red'
          },
          {
            id: '8',
            title: 'عنوان المقال',
            date: '12 أفريل 2020',
            image: '/images/1.jpg',
            body: 'المقال هتصييره هتلاصؤ هلاصث <h1>Titre test</h1> هصهؤ ه صتؤى صهثؤ تصىؤ هت<h1>Titre test</h1> ى صهؤىصث ؤهتصىثه صثتالمقال هتصييره هتلاصؤ هلاصث <h1>Titre test</h1> هصهؤ ه صتؤى صهثؤ تصىؤ هت<h1>Titre test</h1> ى صهؤىصث ؤهتصىثه صثتؤىصثهؤ',
            subCatTxt: 'وطنية',
            subCatColor: 'red'  // colors must be a word exple red, green yellow ....
          },
          {
            id: '9',
            title: 'عنوان المقال',
            date: '12 أفريل 2020',
            image: '/images/2.jpg',
            body: 'المقال هتصييره هتلاصؤ هلاصث <h1>Titre test</h1> هصهؤ ه صتؤى صهثؤ تصىؤ هت<h1>Titre test</h1> ى صهؤىصث ؤهتصىثه صثتالمقال هتصييره هتلاصؤ هلاصث <h1>Titre test</h1> هصهؤ ه صتؤى صهثؤ تصىؤ هت<h1>Titre test</h1> ى صهؤىصث ؤهتصىثه صثتؤىصثهؤ',
            subCatTxt: 'وطنية',
            subCatColor: 'red'
          },
          {
            id: '10',
            title: 'عنوان المقال',
            date: '12 أفريل 2020',
            image: '/images/3.jpg',
            body: 'المقال هتصييره هتلاصؤ هلاصث <h1>Titre test</h1> هصهؤ ه صتؤى صهثؤ تصىؤ هت<h1>Titre test</h1> ى صهؤىصث ؤهتصىثه صثتالمقال هتصييره هتلاصؤ هلاصث <h1>Titre test</h1> هصهؤ ه صتؤى صهثؤ تصىؤ هت<h1>Titre test</h1> ى صهؤىصث ؤهتصىثه صثتؤىصثهؤ',
            subCatTxt: 'وطنية',
            subCatColor: 'red'
          }
        ]
      }
    },
    methods: {
      clickCallback: function (pageNum) {
        //paginate
        console.log(pageNum)
      }
    },
    validate({params}) {
      return /^\d+$/.test(params.id)
    }


  }

</script>
<style>


</style>






