<template>
  <div class="last-albums">
    <Titre Title="ألبومات الصور"/>
    <client-only>
      <vue-flux
        :captions="vfCaptions"
        :images="vfImages"
        :options="vfOptions"
        :transitions="vfTransitions"
        ref="slider">
        <template v-slot:preloader>
          <flux-preloader/>
        </template>
        <template v-slot:caption>
          <flux-caption class="flux-captionx"/>
        </template>
        <template v-slot:controls>
          <flux-controls dir="ltr"/>
        </template>
        <template v-slot:index>
          <flux-index class="f-index"/>
        </template>

      </vue-flux>
    </client-only>
  </div>
</template>
<script>
  import {
    VueFlux,
    FluxCaption,
    FluxControls,
    FluxIndex,
    FluxPagination,
    FluxPreloader
  } from 'vue-flux/dist-ssr/vue-flux.umd.min.js';
  import 'vue-flux/dist-ssr/vue-flux.css';
  import Titre from "../tools/Titre";

  export default {
    name: 'AlbumSlider',
    components: {
      VueFlux,
      FluxCaption,
      FluxControls,
      FluxIndex,
      FluxPagination,
      FluxPreloader,
      Titre
    },
    data: () => ({
      vfOptions: {
        autoplay: true,
        //  autohideTime: 0
      },
      vfImages: [
        '/images/1.jpg',
        '/images/2.jpg',
        '/images/3.jpg'
      ],
      vfCaptions: [
        'عنوان الألبوم 1',
        'عنوان الألبوم 2',
        'عنوان الألبوم 3',
      ],
      vfTransitions: [
        'blinds3d',
        'blocks2',
        'book',
        'cube',
        'round2',
        'swipe',
        'warp',
        'blinds2d',
        'concentric',
        'round1',
        'explode',
        'slide',
        'blocks1',
        'fade',
        'fall',
        'camera',
        'kenburn',
        'waterfall',
        'zip',
      ]
    }),
  }
</script>
<style lang="scss" scoped>


  .flux-captionx {
    position: absolute !important;
    top: auto !important;
    bottom: 7% !important;
    font-size: 24px !important;
    font-family: 'Almarai', sans-serif;
    color: #fff !important;
    text-align: right !important;
    display: block !important;
    background-color: rgba(0, 0, 0, .7);

    letter-spacing: 0px;
    padding: 35px !important;
    padding-right: 50px !important;
  }

  .f-index {
    z-index: 9999 !important;
    bottom: 0 !important;
  }
</style>
