<template>
<div class="bigPub">


  <h1 class="cwhite">ooredoo Pub</h1>


</div>

</template>
<script>
  export default {
   name:'Bigpublicite',

  }

</script>
<style lang="scss" >
.bigPub{
  min-height: 300px;
  background-color: red;
}

</style>
