<template>
  <div>
    <client-only>
    <vue-flux
      :captions="vfCaptions"
      :images="vfImages"
      :options="vfOptions"
      :transitions="vfTransitions"
      ref="slider">
      <template v-slot:preloader>
        <flux-preloader/>
      </template>
      <template v-slot:caption>
        <flux-caption v-slot="captionProps">

          <div class="flux-caption">
              <v-row class="flux-caption-content">
                <v-col
                  class="text-right pr-5"
                  cols="12"
                >
                  <Tagz bcolor="green" class="tgz" type="جهوية"/>
                </v-col>
                <v-col
                  class="text-right pr-5 pl-3"
                  cols="12"
                >
                  <nuxt-link class="no-link" to="/">
                  <h1 class="ttre">
                    عنوان الخبر تلالا ضس سيرسر
                  </h1>
                  </nuxt-link>
                </v-col>
              </v-row>
            </div>
        </flux-caption>
      </template>
      <template v-slot:pagination>
        <flux-pagination/>
      </template>


    </vue-flux>
    </client-only>
  </div>
</template>
<script>
  import {
    VueFlux,
    FluxCaption,
    FluxControls,
    FluxIndex,
    FluxPagination,
    FluxPreloader
  } from 'vue-flux/dist-ssr/vue-flux.umd.min.js';
  import Tagz from "../tools/Tags";

  import 'vue-flux/dist-ssr/vue-flux.css';

  export default {
    name: 'NewsSlider',
    components: {
      VueFlux,
      FluxCaption,
      FluxControls,
      FluxIndex,
      FluxPagination,
      FluxPreloader,
      Tagz
    },
    data: () => ({
      vfOptions: {
        autoplay: true,
      },
      vfImages: [
        '/images/1.jpg',
        '/images/2.jpg',
        '/images/3.jpg'
      ],
      vfTransitions: [
        'blinds3d',
        'blocks2',
        'book',
        'cube',
        'round2',
        'swipe',
        'warp',
        'blinds2d',
        'concentric',
        'round1',
        'explode',
        'slide',
        'blocks1',
        'fade',
        'fall',
        'camera',
        'kenburn',
        'waterfall',
        'zip',
      ],
      vfCaptions: [
        'Caption for image 1',
        'Caption for image 2',
        'Caption for image 3',
      ],
    }),
  }
</script>
<style lang="scss" scoped>
  .ttre {
    color: $SABRA_BLUE;
    line-height: 25px;
  //  text-shadow: 1px 1px 2px #000000;
    letter-spacing: 0px;
  }

  .flux-caption {
    position: absolute !important;
    top: auto !important;
    bottom: 7% !important;
    font-size: .8rem !important;
    line-height: 1.1rem !important;
    color: #fff !important;
    text-align: center !important;
    background-color: transparent !important;
    display: block !important;

  }

  .flux-caption-content {
  //  background-image: linear-gradient(to right, rgba(255,255,255,0)1%, rgb(255, 255, 255));
    background-color: rgba(255,255,255,.7);
    margin-right: 1%;
    margin-left: 1%;
  }
</style>
