<template>
  <v-layout>
    <v-container>
      <v-row no-gutters>
        <v-col cols="12">
          <Titre2 Title="فيديـــــــو"/>
          <hooper :itemsToShow="1" :rtl="true" :trimWhiteSpace="true" group="group1"
                  ref="Carousel"
                  style="height: 460px;"
          >
            <slide
              :index="imageIndex"
              :key="imageIndex"
              class="PreviewSlide"
              v-for="(image, imageIndex) in images"
            >
              <nuxt-link to="#">
              <div
                :id="imageIndex"
                :key="imageIndex"
                :style="{ backgroundImage: 'url(' + image.src + ')' }"
                @click="index = imageIndex"
                class="PreviewVideoX"
              >
            <span class="titreVideo">
            {{image.title}}
            </span>
                <img class="play hvr-pulse-grow" src="/images/play.png"/>
              </div>
              </nuxt-link>
            </slide>
          </hooper>
        </v-col>
        <v-col cols="12">
          <hooper :itemsToShow="4" :rtl="true"
                  group="group1"
                  ref="listCarousel" style="height: 120px;"
          >
            <slide

              :index="imageIndex"
              :key="imageIndex"
              class="PreviewSlide "
              v-for="(image, imageIndex) in images"

            >
              <div
                :id="imageIndex"
                :key="imageIndex"
                :style="{ backgroundImage: 'url(' + image.src + ')' }"
                @click="selectVideo(imageIndex)"
                class="PreviewVideo"
              >

                <img class="playX hvr-pulse-grow" src="/images/play.png"/>
              </div>

            </slide>
            <hooper-navigation slot="hooper-addons"></hooper-navigation>
          </hooper>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>
<script>
  import {
    Hooper,
    Slide,
    Progress as HooperProgress,
    Pagination as HooperPagination,
    Navigation as HooperNavigation
  } from 'hooper';
  import Titre2 from "../tools/Titre2";
  import 'hooper/dist/hooper.css';

  export default {
    name: 'VideoSlider',
    components: {
      Hooper,
      Slide,
      HooperProgress,
      HooperPagination,
      HooperNavigation,
      Titre2
    },
    data() {
      return {
        images: [
          {
            title: 'عنوان الفيديو 1',
            description: "Sabra FM",
            src: this.getYoutubeThumb('https://www.youtube.com/watch?v=Vpst1TC0y_Q')
          },
          {
            title: 'عنوان الفيديو 2',
            description: "Sabra FM",
            src: this.getYoutubeThumb('https://www.youtube.com/watch?v=9EgmjDMi7hY')
          },
          {
            title: 'عنوان الفيديو 3',
            description: "Sabra FM",
            src: this.getYoutubeThumb('https://www.youtube.com/watch?v=OQT42HImbD0')

          },
          {
            title: 'عنوان الفيديو 4',
            description: "Sabra FM",
            src: this.getYoutubeThumb('https://www.youtube.com/watch?v=g5y4N8uzc8c')
          },
          {
            title: 'عنوان الفيديو 5',
            description: "Sabra FM",
            src: this.getYoutubeThumb('https://www.youtube.com/watch?v=POGl0r9cCzY')
          },

        ],
        carouselData: 0,
        index: null

      }
    },

    methods: {
      selectVideo(index) {
        this.$refs.Carousel.slideTo(index);
      }
    }
  }
</script>
<style lang="scss" scoped>
  .PreviewVideo {
    width: 100%;
    min-height: 100%;
    background-position: center center;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 2px !important;
  }

  .PreviewVideoX {
    width: 100%;
    min-height: 100%;
    background-position: center center;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .PreviewSlide {
    padding: 2px;
    cursor: pointer;
  }

  .play {
    width: 60px;
    height: auto;
    cursor: pointer;

    z-index: 99999;
    right: 50%;
  }

  .playX {
    width: 20px;
    height: auto;
    cursor: pointer;
    z-index: 99999;
    right: 50%;
  }

  .titreVideo {

    position: absolute;
    bottom: 0;
    font-size: 24px !important;
    font-family: 'Almarai', sans-serif;
    color: #fff !important;
    text-align: right !important;
    display: block !important;
    background-color: rgba(0, 0, 0, .7);
    letter-spacing: 0px;
    padding: 35px !important;
    padding-right: 50px !important;
    width: 100%;
  }

</style>
