<template>
  <v-footer
    :dark="true"
    :style="{background: `url(${backgroundFooter})no-repeat center center `}"
    padless
  >
    <section id="footer">
      <v-container fluid>
        <div class="row text-alignit ">
          <div class="foot1  col-md-4 col-6   mt-3 text-center" data-aos="zoom-out" data-aos-easing="ease">
            <Logo/>
            <div class="widget mt-5 ">

              <SocialBarWhite/>
            </div>
          </div>
          <div class="foot2  col-md-3 col-6   mt-3 text-right" data-aos="zoom-out" data-aos-anchor=".foot1"
               data-aos-delay="150" data-aos-easing="ease">
            <div class="footer-title nav-link">
              <nuxt-link to="/">الصفحة الرئيسية</nuxt-link>
            </div>
            <div class="footer-title nav-link">
              <nuxt-link to="/">الأخبار</nuxt-link>
            </div>
            <div class="groupe ">
              <nuxt-link class="footer-body" to="#">جهوية</nuxt-link>
              <br>
              <nuxt-link class="footer-body" to="#">وطنية</nuxt-link>
              <br>
              <nuxt-link class="footer-body" to="#">عالمية</nuxt-link>
              <br>
              <nuxt-link class="footer-body" to="#">إقتصاد</nuxt-link>
              <br>
            </div>
            <div class="footer-title nav-link">
              <nuxt-link to="/"> منوعات</nuxt-link>
            </div>
            <div class="groupe ">
              <nuxt-link class="footer-body" to="#"> الحظ</nuxt-link>
              <br>
              <nuxt-link class="footer-body" to="#">الطقس</nuxt-link>
              <br>
            </div>

          </div>
          <div class="foot3  col-md-3 col-6   mt-3 text-right" data-aos="zoom-out" data-aos-anchor=".foot2"
               data-aos-delay="250" data-aos-easing="ease">
            <div class="footer-title nav-link">
              <nuxt-link to="/">الرياضة</nuxt-link>
            </div>
            <div class="groupe ">
              <nuxt-link class="footer-body" to="#">وطنية</nuxt-link>
              <br>
              <nuxt-link class="footer-body" to="#">عالمية</nuxt-link>
              <br>
              <nuxt-link class="footer-body" to="#">تسجيلات</nuxt-link>
              <br>
            </div>
            <div class="footer-title nav-link">
              <nuxt-link to="/">صــور و فيديو</nuxt-link>
            </div>
            <div class="groupe ">
              <nuxt-link class="footer-body" to="#">صور</nuxt-link>
              <br>
              <nuxt-link class="footer-body" to="#">فيديو</nuxt-link>
              <br>
            </div>
            <div class="footer-title nav-link">
              <nuxt-link to="/"> أرشيف</nuxt-link>
            </div>
          </div>
          <div class="foot4  col-md-2 col-6   mt-3 text-right" data-aos="zoom-out" data-aos-anchor=".foot3"
               data-aos-delay="350" data-aos-easing="ease">

            <div class="footer-title nav-link">
              <nuxt-link to="/">تسجيلات</nuxt-link>
            </div>
            <div class="groupe ">
              <nuxt-link class="footer-body" to="#">زهرك اليوم</nuxt-link>
              <br>
              <nuxt-link class="footer-body" to="#">فقرة صحية</nuxt-link>
              <br>
              <nuxt-link class="footer-body" to="#">بمبينو</nuxt-link>
              <br>
              <nuxt-link class="footer-body" to="#">البرامج</nuxt-link>
              <br>
              <nuxt-link class="footer-body" to="#">الأخبار</nuxt-link>
              <br>
            </div>
            <div class="footer-title nav-link">
              <nuxt-link to="/">واب راديو</nuxt-link>
            </div>
            <div class="groupe ">
              <nuxt-link class="footer-body" to="#">القرآن الكريم</nuxt-link>
              <br>
              <nuxt-link class="footer-body" to="#">الطرب</nuxt-link>
              <br>
            </div>

          </div>
        </div>
      </v-container>
    </section>


    <!-- COPYRIGHT-->

    <v-col
      class="text-center copyright"
      cols="12"
      dark

    >
      {{ new Date().getFullYear() }} — <strong>M3soft</strong>
    </v-col>

  </v-footer>


</template>

<script>
  import Logo from "./tools/Logo";
  import SocialBarWhite from "./header/SocialBarWhite";

  export default {
    name: "Footer",
    components: {
      Logo, SocialBarWhite
    },
    computed: {
      backgroundFooter() {
        return require('~/assets/images/radio-background.jpg')
      }
    }


  }
</script>

<style lang="scss" scoped>

  /***************************************
  **************FOOTER ***********
  ***************************************/

  .copyright {
    background-color: black;
  }

  footer {
    background-color: rgb(51, 51, 51);
    color: rgb(204, 204, 204);
    border-top-color: rgba(0, 0, 0, 0.2);
    padding-top: 40px;
    width: 100%;
  }


  footer #footer .groupe {
    padding-left: 8px;
  }

  .logo-footer {
    width: 120px;
  }

  #phone {
    color: #8c8c8c;
  }

  .footer-title {
    margin-bottom: 10px;
  }

  .footer-title > a {
    font-size: 22px;

    color: $SABRA_GREEN !important;
  }

  .footer-title > a:hover {
    color: $SABRA_BLUE !important;
  }


  .footer-body {
    font-size: 17px;
    color: #8e8f8e;
    font-family: "Almarai", sans-serif;
    margin-bottom: 10px;
    display: inline-block;
    line-height: 17px;
  }

  .footer-body:hover {
    color: White !important;
    cursor: pointer;
    text-decoration: none;
  }

  .social-icon > i {
    color: #DDD !important;
    border-color: #DDD !important;
    text-shadow: none;
    border: 1px solid #AAA;
    border-radius: 50px;
    overflow: hidden;
    padding: 5px !important;

  }
</style>
