a {
  text-decoration: none !important;
}

@font-face {
  font-family: "Batmfo";
  src:url('../fonts/batmfo__.ttf') format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Batmfa";
  src:url('../fonts/batmfa__.ttf') format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "AdobeArabic";
  src:url('../fonts/AdobeArabic.ttf') format("truetype");
  font-style: normal;
  font-weight: normal;
}


*{
  transition-timing-function: linear !important;
}
.no-rounded {
  border-radius: 0px !important;
}

#page-wrap {
  margin: 0px;
  padding: 0px;
  width: 100% !important;
}

.main-content {
padding: 0px !important;
}

h100 {
  height: 100% !important;
}

.marquee-text-wrap {
  direction: ltr !important;
}

.marquee-text-text {
  animation-name: marquee-animation !important;
  webkit-animation-name: marquee-animation !important;
}

@keyframes marquee-animation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}





/******** Responsive Css ***********/

@media (max-width: 600px){
/*XS*/
.wradio{
  background-color: #007d00 !important;
}
  .thumbnails{
    height:250px !important;
    width:100%  !important;
    object-fit: cover;
    border-radius: 2px;
  }
}

@media (min-width: 600px) and (max-width: 960px){
/*SM*/
  .wradio{
    background-color: #097c7d !important;
  }
  .thumbnails{
    height:250px !important;
    width:100%  !important;
    object-fit: cover;
    border-radius: 2px;
  }
}

@media (min-width: 960px) and (max-width: 1264px){
/*MD*/
  .wradio{
    background-color: #0a0d7d !important;
  }
  .thumbnails{
    height:150px !important;
    width:100%  !important;
    object-fit: cover;
    border-radius: 2px;
  }

}

@media (min-width: 1264px){
/*LG*/
  .wradio{
    background-color: #7d087a !important;
  }
  .thumbnails{
    height:150px !important;
    width:100%  !important;
    object-fit: cover;
    border-radius: 2px;
  }
}
.clear {
  clear: both;
  display: block;
  font-size: 0px;
  height: 0px;
  line-height: 0;
  width: 100%;
  overflow:hidden;
}

.more {
  background-color: #ebebeb;
  //   color: $SABRA_GREEN;
  bottom: 0;
  top: auto;
  position: relative;
}

.more-news {
  width: 100%;
}

.titr4 {
  margin: 0 !important;
}

.more-news-ico {
  color: $SABRA_GREEN;
}

.more-text {
  color: $SABRA_GREEN;
  font-family: Cairo;
  font-size: 14px;
}
.ptext {
  padding: 0 !important;
}
.title-card {
  padding: 3px !important;
}
.v-card{
  width:100% !important;
}
.more-news:hover > a > span{
  color:$SABRA_BLUE !important ;
}
.more-news:hover > .more-text{
  color:$SABRA_BLUE !important ;
}
.more-text:hover{
  color:$SABRA_BLUE !important ;
}
.vel-modal{
  z-index: 9999 !important;
}
.vel-img-title {
  font-size: 18px !important;
  color: #fbfbfb !important;
  opacity: .9 !important;
  font-family: "Tajawal", sans-serif;
}
.more {

  bottom: -1px !important;
}
.titr4 {
  margin: 0 !important;
}

.div-image {
  padding: 2px !important;
}
.title-card {
  padding: 3px !important;
}
.carousel-card-arrow-left{
  left:0px!important;
}
.carousel-card-arrow-right {
  right: 0px !important;
}
.hooper-track{
  padding-left: 0 !important;
}


.divpag{
  padding-top: 45px;
}
ul.pagination {
  display: inline-flex;
}

ul.pagination li {display: inline;}

ul.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd; /* Gray */
  font-family: Cairo;
  font-weight: 600;
  letter-spacing: 0;
}
ul.pagination li.active > a{
  background-color: $SABRA_GREEN;
  color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}
.pagination li:first-child a {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pagination li:last-child a {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.widthPost:last-of-type {
  border: none !important;

}
.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}
