<template>
  <v-layout>
    <v-container>
      <v-row no-gutters>
        <v-col cols="12">
          <Titre2 Title="الأخبار"/>
          <SinglePost
            :id="pid"
          />
        </v-col>
        <v-col cols="12">
          <!--feed more posts-->
        <MorePosts/>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>
<script>
  import Titre2 from "../../../components/tools/Titre2";
  import WidthPost from "../../../components/tools/WidthPost";
  import SinglePost from "../../../components/tools/SinglePost";
  import MorePosts from "../../../components/tools/MorePosts";
  // Get name of the category by id {{$route.params.id}}   put in data subcate


  export default {

    components: {
      Titre2,
      WidthPost,
      SinglePost,
      MorePosts
    },

    data() {
      return {
        //Get 10 _subCategory news أخبار per page *** pagination  with subcategory
        // colors of subcategory must be a word example red, green yellow ....
        //id post to pass to component single post
        pid: this.$route.params.id

      }
    },

    methods: {
      clickCallback: function (pageNum) {
        //paginate
        console.log(pageNum)
      }
    },

    validate({params}) {
      return /^\d+$/.test(params.id)
    }
  }

</script>
<style>


</style>






