<template>
  <div>
    <v-row>
      <v-col
        md="8"
      >
        <Titre Title="حالة الطقس "/>
        <v-row>
          <v-col class="col-sm-5">
            <div id="myWeather text-center">
              <a
                :data-label_1="data_label_1"
                :href="`https://forecast7.com/ar/${code}/${city}/`"
                class="weatherwidget-io"
                ref="weatherwidget_io"
              >
                <BounceLoader :color="color"
                              :loading="loadme"
                              :size=60
                              class="loading">

                </BounceLoader>
              </a>
            </div>
          </v-col>
          <v-col class="col-sm-7">
            <div id="map"></div>
          </v-col>
        </v-row>
      </v-col>
      <v-col
        md="3"
      >
      </v-col>
    </v-row>
  </div>
</template>
<script>
  import Titre from "../../components/tools/Titre";
  export default {

    components: {
      Titre
    },
    head() {
      return {
        script: [
          {
            hid: 'stripe',
            src: 'js/mapdata.js',
            defer: true,
            // Changed after script load
            callback: () => {
              this.isStripeLoaded = true
            }
          },
          {
            hid: 'stripe',
            src: 'js/countrymap.js',
            defer: true,
            // Changed after script load
            callback: () => {
              this.isStripeLoaded = true
            }
          },
          {
            hid: 'stripe',
            src: 'js/select.js',
            defer: true,
            // Changed after script load
            callback: () => {
              this.isStripeLoaded = true
            }
          }
        ]
      }

    },
    data() {
      return {
        id_selected: '',
        selected: '',
        city: '',
        code: '',
        data_label_1: '',
        loadme: false,
        color: "#033c77"
      }
    },

    methods: {

      getCity() {


        if (this.id_selected[0] === "TUN96") {
          this.city = 'medinine';
          this.code = '33d3410d50';
          this.data_label_1 = 'مدنين';
        }

        if (this.id_selected[0] === "TUN97") {
          this.city = 'qibili';
          this.code = '33d718d97';
          this.data_label_1 = 'قبلي';
        }
        if (this.id_selected[0] === "TUN98") {
          this.city = 'tataouine';
          this.code = '32d9210d45';
          this.data_label_1 = 'تطاوين';
        }


        if (this.id_selected[0] === "TUN101") {
          this.city = 'tozeur';
          this.code = '33d928d12';
          this.data_label_1 = 'توزر';
        }
        if (this.id_selected[0] === "TUN102") {
          this.city = 'manouba';
          this.code = '36d8110d09';
          this.data_label_1 = 'منوبة';
        }

        if (this.id_selected[0] === "TUN103") {
          this.city = 'beja';
          this.code = '36d739d18';
          this.data_label_1 = 'باجة';
        }
        if (this.id_selected[0] === "TUN104") {
          this.city = 'ben-arous';
          this.code = '36d7410d23';
          this.data_label_1 = 'بن عروس';
        }
        if (this.id_selected[0] === "TUN105") {
          this.city = 'bizerte';
          this.code = '37d279d86';
          this.data_label_1 = 'بنزرت';
        }

        if (this.id_selected[0] === "TUN106") {
          this.city = 'jendouba';
          this.code = '36d518d78';
          this.data_label_1 = 'جندوبة';
        }

        if (this.id_selected[0] === "TUN107") {
          this.city = 'nabeul';
          this.code = '36d4510d74';
          this.data_label_1 = 'نابل';
        }
        if (this.id_selected[0] === "TUN108") {
          this.city = 'tunis';
          this.code = '36d8110d18';
          this.data_label_1 = 'تونس';
        }

        if (this.id_selected[0] === "TUN109") {
          this.city = 'el-kef';
          this.code = '36d178d71';
          this.data_label_1 = 'الكاف';
        }


        if (this.id_selected[0] === "TUN110") {
          this.city = 'kasserine';
          this.code = '35d178d83';
          this.data_label_1 = 'القصرين';
        }


        if (this.id_selected[0] === "TUN111") {
          this.city = 'gabes';
          this.code = '33d8910d10';
          this.data_label_1 = 'قابس';
        }


        if (this.id_selected[0] === "TUN112") {
          this.city = 'gafsa';
          this.code = '34d438d78';
          this.data_label_1 = 'قفصة';
        }


        if (this.id_selected[0] === "TUN113") {
          this.city = 'sidi-bouzid';
          this.code = '35d049d48';
          this.data_label_1 = 'سيدي بوزيد';
        }
        if (this.id_selected[0] === "TUN114") {
          this.city = 'sfax';
          this.code = '34d7410d76';
          this.data_label_1 = 'صفاقس';
        }

        if (this.id_selected[0] === "TUN115") {
          this.city = 'siliana';
          this.code = '36d099d36';
          this.data_label_1 = 'سليانة';
        }

        if (this.id_selected[0] === "TUN116") {
          this.city = 'mahdia';
          this.code = '35d5011d05';
          this.data_label_1 = 'المهدية';
        }

        if (this.id_selected[0] === "TUN117") {
          this.city = 'monastir';
          this.code = '35d7610d81';
          this.data_label_1 = 'المنستير';
        }

        if (this.id_selected[0] === "TUN118") {
          this.city = 'al-qayrawan';
          this.code = '35d6810d09';
          this.data_label_1 = 'القيروان';
        }

        if (this.id_selected[0] === "TUN119") {
          this.city = 'sousse';
          this.code = '35d8210d63';
          this.data_label_1 = 'سوسة';
        }


        if (this.id_selected[0] === "TUN120") {
          this.city = 'zaghouan';
          this.code = '36d4110d14';
          this.data_label_1 = 'زغوان';
        }



        this.weatherwidget_init();
      },
      weatherwidget_init() {
        this.loadme = true
        var a = document.getElementsByClassName("weatherwidget-io"),
          i = [];
        var codex = this.code;
        var cityx = this.city;
        var data_label_1x = this.data_label_1;
        var that = this
        if (a.length !== 0) {
          for (var t = function (t) {
              var e = a[t],
                o = {};
              o.id = "weatherwidget-io-" + t,
                o.href = "https://forecast7.com/ar/" + codex + "/" + cityx + "/",
                o.label_1 = data_label_1x,
                o.label_2 = "حالة الطقس",
                o.font = e.getAttribute("data-font"),
                o.icons = "Climacons Animated",
                o.mode = e.getAttribute("data-mode"),
                o.days = e.getAttribute("data-days"),
                o.theme = "pure",
                o.basecolor = e.getAttribute("data-basecolor"),
                o.accent = e.getAttribute("data-accent"),
                o.textcolor = e.getAttribute("data-textcolor"),
                o.textAccent = e.getAttribute("data-textAccent"),
                o.highcolor = e.getAttribute("data-highcolor"),
                o.lowcolor = e.getAttribute("data-lowcolor"),
                o.suncolor = e.getAttribute("data-suncolor"),
                o.mooncolor = e.getAttribute("data-mooncolor"),
                o.cloudcolor = e.getAttribute("data-cloudcolor"),
                o.cloudfill = e.getAttribute("data-cloudfill"),
                o.raincolor = e.getAttribute("data-raincolor"),
                o.snowcolor = e.getAttribute("data-snowcolor"),
                o.windcolor = e.getAttribute("data-windcolor"),
                o.fogcolor = e.getAttribute("data-fogcolor"),
                o.thundercolor = e.getAttribute("data-thundercolor"),
                o.hailcolor = e.getAttribute("data-hailcolor"),
                o.dayscolor = e.getAttribute("data-dayscolor"),
                o.tempcolor = e.getAttribute("data-tempcolor"),
                o.desccolor = e.getAttribute("data-desccolor"),
                o.label1color = e.getAttribute("data-label1color"),
                o.label2color = e.getAttribute("data-label2color"),
                o.shadow = e.getAttribute("data-shadow"),
                o.scale = e.getAttribute("data-scale"),
              (r = document.getElementById(o.id)) && e.removeChild(r),
                i[o.id] = document.createElement("iframe"),
                i[o.id].setAttribute("id", o.id),
                i[o.id].setAttribute("class", "weatherwidget-io-frame"),
                i[o.id].setAttribute("title", "Weather Widget"),
                i[o.id].setAttribute("scrolling", "no"),
                i[o.id].setAttribute("frameBorder", "0"),
                i[o.id].setAttribute("width", "100%"),
                i[o.id].setAttribute("src", "https://weatherwidget.io/w/"),
                i[o.id].style.display = "block",
                i[o.id].style.position = "absolute",
                i[o.id].style.top = "0",
                i[o.id].onload = function () {
                  i[o.id].contentWindow.postMessage(o, "https://weatherwidget.io");

              //   that.loadme = false;

                },
                e.style.display = "block",
                e.style.position = "relative",
                e.style.height = "150px",
                e.style.padding = "0",
                e.style.overflow = "hidden",
                e.style.textAlign = "left",
                e.style.textIndent = "-299rem",
                e.appendChild(i[o.id])
            },
                 e = 0,
                 o = Math.min(a.length, 10); e < o; e++) {
            var r;
            t(e)
          }
          window.addEventListener("message", function (t) {

            "https://weatherwidget.io" === t.origin && i[t.data.wwId] && i[t.data.wwId].parentNode && (i[t.data.wwId].style.height = t.data.wwHeight + "px", i[t.data.wwId].parentNode.style.height = t.data.wwHeight + "px")

          })

        } else setTimeout(this.weatherwidget_init, 1500)

      }
    },
    mounted() {
      window.addEventListener('load', (event) => {
        map_select.select('TUN118')
        this.id_selected = map_select.selected

      });
    },
    watch: {
      id_selected: function (newValue, oldValue) {

        if (newValue.length > 0) {
        } else {
          map_select.select('TUN118')
        }
        this.getCity()
      }
    },
    destroyed() {
      window.removeEventListener('load', (event) => {
      });

    }


  }
</script>
<style lang="scss">
  #map_inner > div:nth-child(2) {
    display: none !important;
  }

  .weatherwidget-io {
    pointer-events: none;
  }

  .weatherwidget {
    height: 100% !important;
  }

  #myWeather {
    width: 315px !important ;
    height: 550px !important;

  }

  #map {
    height: 100%;
  }

  #map_inner > div:nth-child(3) > svg {
    display: none !important;
  }

  .loading {
    right: 50%;
    top: 50%;

    position: absolute;
  }
</style>
