<template>
  <v-layout justify-center>
    <v-card
      class="mx-auto"
      flat
      height="500px"
      outlined
      shaped>

      <v-card-title class="title-card">
        <Titre4 Title="آخر الأخبار" class="titr4"/>
      </v-card-title>

      <v-card-text class="ptext">
        <div>
          <client-only>
            <v-list
              :flat=true
              class="overflow-y-auto"

            >


              <v-list-item
                :key="i"
                v-for="i in 10"

              >

                <v-list-item-content class="hvr-sweep-to-left">
                  <v-list-item-title class="timex"><span><i class='icon-line-watch iconex'></i> 12:24</span>
                  </v-list-item-title>
                  <v-list-item-subtitle class="newx"> ارتفاع عدد المتعافين في المنستير كورونا: ارتفاع عدد المتعافين
                    في المنستير
                  </v-list-item-subtitle>
                </v-list-item-content>

              </v-list-item>


            </v-list>
          </client-only>
        </div>

      </v-card-text>
      <v-card-actions class="more text-left">
        <div class="more-news">
          <a href="#">
            <span class="fa fa-angle-double-left more-news-ico"></span>
            <strong class="more-text">المزيد من الأخبار</strong></a>
        </div>
      </v-card-actions>
    </v-card>

  </v-layout>
</template>
<script>
  import Titre4 from "../tools/Titre4";

  export default {
    name: 'ScrollNews',
    components: {
      Titre4
    },
    data() {
      return {}
    }

  }

</script>
<style lang="scss" scoped>




  .item span {
    float: right;
    margin-left: 10px;
    margin-right: 0;
    color: $SABRA_BLUE
  }

  .item {
    line-height: 20px;
    color: #222;
    display: block;
    font-weight: 700;
    margin-bottom: 23px;
    font-size: 14px;
    font-family: 'Cairo', sans-serif;
  }

  .timex {
    color: $SABRA_BLUE;
    font-size: 13px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .v-list-item {
    padding-left: 6px !important;
    cursor: pointer;
  }

  .newx {
    font-size: 13px;
    font-family: Almarai;
    line-height: 20px;
    color: #4e4d4d !important;
    font-weight: 600;
  }


  .v-list::-webkit-scrollbar {
    width: 12px;
  }

  .v-list::-webkit-scrollbar-track {
    //  background: #e6e6e6;
    //  border-left: 1px solid #dadada;
  }

  .v-list::-webkit-scrollbar-thumb {
    background: #b0b0b0;
    border: solid 3px #e6e6e6;
    border-radius: 7px;
  }

  .v-list::-webkit-scrollbar-thumb:hover {
    background: $SABRA_BLUE;
  }

  .v-list {
    height: 400px; /* or any height you want */
    overflow-y: auto
  }

  .iconex {
    color: $SABRA_GREEN !important;
  }

  .more{

    bottom: -1px !important;
  }
</style>
