<template>
  <v-layout>
    <div class="widget">

      <h4>أهم المواضيع</h4>
      <div class="tagcloud">
        <a class="hvr-bounce-in" href="#"> القيروان</a>
        <a class="hvr-bounce-in" href="#">تونس</a>
        <a class="hvr-bounce-in" href="#">ليبيا</a>
        <a class="hvr-bounce-in" href="#">رياضة</a>
        <a class="hvr-bounce-in" href="#"> القيروان</a>
        <a class="hvr-bounce-in" href="#">تونس</a>
        <a class="hvr-bounce-in" href="#">ليبيا</a>
        <a class="hvr-bounce-in" href="#">رياضة</a>
        <a class="hvr-bounce-in" href="#"> القيروان</a>
        <a class="hvr-bounce-in" href="#">تونس</a>
        <a class="hvr-bounce-in" href="#">ليبيا</a>
        <a class="hvr-bounce-in" href="#">رياضة</a>
      </div>

    </div>

  </v-layout>
</template>
<script>
  export default {
    name:'SideTags'

  }
</script>
<style lang="scss" scoped>
  .tagcloud a:hover{
    color:$SABRA_BLUE ;
  }
  .tagcloud a {
    display: block;
    float: right;
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 3px 6px;
    border: 1px solid #E5E5E5;
    font-size: 16px !important;
    font-family: 'Amiri', serif;
    color: #4e4d4d;
    border-radius: 2px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
.widget{
  padding-top: 50px;
  border-top: 1px solid #EEE;
  position: relative;

}
.widget > h4 {
  margin-bottom: 25px;
  color: $SABRA_GREEN;
  font-family: 'Cairo', sans-serif;
  font-size: 16px;
  font-weight: 600;
}
  .tagcloud {
    margin-bottom: -2px;
  }

</style>
