<template>
  <v-layout>
    <v-card
      class="mx-auto weather-side"
      flat
      outlined
      shaped

    >

      <v-card-title class="title-card">
        <Titre4 Title="حالة الطقس" class="titr4"/>
      </v-card-title>
      <v-card-text class="weatherText">
        <div class="weatherwidget">

          <CarouselCard :interval="12000" arrow="always" indicator-position="none" height="130px">
            <CarouselCardItem
              :key="index"
              v-for="(city , index) in cities"
            >
              <a
                :data-label_1="city.data_label_1"
                :href="`https://forecast7.com/ar/${city.code}/${city.city}/`"
                :id="`weather_${index}`"
                class="weatherwidget-io"
                ref="weatherwidget_io"
              >
              </a>
            </CarouselCardItem>
          </CarouselCard>



        </div>
      </v-card-text>
        <v-card-actions class="more text-left">
          <div class="more-news">
            <a href="#">
              <span class="fa fa-angle-double-left more-news-ico"></span>
              <strong class="more-text">المزيد</strong></a>
          </div>

        </v-card-actions>
    </v-card>

  </v-layout>
</template>
<script>
import Titre4 from "../tools/Titre4";

  export default {
    name: 'SideWeather',
    components:{
      Titre4
    },
    data() {
      return {
        cities: [
          {'city': 'al-qayrawan', 'code': '35d6810d09', 'data_label_1': 'القيروان'},
          {'city': 'tunis', 'code': '36d8110d18', 'data_label_1': 'تونس'},
          {'city': 'sousse', 'code': '35d8210d63', 'data_label_1': 'سوسة'},
          {'city': 'sfax', 'code': '34d7410d76', 'data_label_1': 'صفاقس'}
        /* {'city': 'qibili', 'code': '33d718d97', 'data_label_1': 'قبلي'},
          {'city': 'medinine', 'code': '33d3410d50', 'data_label_1': 'مدنين'},
          {'city': 'el-kef', 'code': '36d178d71', 'data_label_1': 'الكاف'},
          {'city': 'tozeur', 'code': '33d928d12', 'data_label_1': 'توزر'},
          {'city': 'manouba', 'code': '36d8110d09', 'data_label_1': 'منوبة'},
          {'city': 'beja', 'code': '36d739d18', 'data_label_1': 'باجة'},
          {'city': 'ben-arous', 'code': '36d7410d23', 'data_label_1': 'بن عروس'},
          {'city': 'bizerte', 'code': '37d279d86', 'data_label_1': 'بنزرت'},
          {'city': 'zaghouan', 'code': '36d4110d14', 'data_label_1': 'زغوان'},
          {'city': 'nabeul', 'code': '36d4510d74', 'data_label_1': 'نابل'},
          {'city': 'jendouba', 'code': '36d518d78', 'data_label_1': 'جندوبة'},
          {'city': 'monastir', 'code': '35d7610d81', 'data_label_1': 'المنستير'},
          {'city': 'mahdia', 'code': '35d5011d05', 'data_label_1': 'المهدية'},
          {'city': 'siliana', 'code': '36d099d36', 'data_label_1': 'سليانة'},
          {'city': 'sidi-bouzid', 'code': '35d049d48', 'data_label_1': 'سيدي بوزيد'},
          {'city': 'gafsa', 'code': '34d438d78', 'data_label_1': 'قفصة'},
          {'city': 'gabes', 'code': '33d8910d10', 'data_label_1': 'قابس'},
          {'city': 'kasserine', 'code': '35d178d83', 'data_label_1': 'القصرين'},
          {'city': 'tataouine', 'code': '32d9210d45', 'data_label_1': 'تطاوين'} */
        ]
      }
    },
    mounted() {
      this.weatherwidget_init();


    },
    methods: {
      weatherwidget_init: function () {
        var a = document.getElementsByClassName("weatherwidget-io"),
          i = [];

        if (a.length !== 0) {
          for (var t = function (t) {

              var e = a[t],
                o = {};
              o.id = "weatherwidget-io-" + t,
                o.href = e.href,
                o.label_1 = e.getAttribute("data-label_1"),
                o.label_2 = "حالة الطقس",
                o.font = e.getAttribute("data-font"),
                o.icons = "Climacons Animated",
                o.mode = "Current",
                o.days = e.getAttribute("data-days"),
                o.theme = "weather_one",
                o.basecolor = e.getAttribute("data-basecolor"),
                o.accent = e.getAttribute("data-accent"),
                o.textcolor = e.getAttribute("data-textcolor"),
                o.textAccent = e.getAttribute("data-textAccent"),
                o.highcolor = e.getAttribute("data-highcolor"),
                o.lowcolor = e.getAttribute("data-lowcolor"),
                o.suncolor = e.getAttribute("data-suncolor"),
                o.mooncolor = e.getAttribute("data-mooncolor"),
                o.cloudcolor = e.getAttribute("data-cloudcolor"),
                o.cloudfill = e.getAttribute("data-cloudfill"),
                o.raincolor = e.getAttribute("data-raincolor"),
                o.snowcolor = e.getAttribute("data-snowcolor"),
                o.windcolor = e.getAttribute("data-windcolor"),
                o.fogcolor = e.getAttribute("data-fogcolor"),
                o.thundercolor = e.getAttribute("data-thundercolor"),
                o.hailcolor = e.getAttribute("data-hailcolor"),
                o.dayscolor = e.getAttribute("data-dayscolor"),
                o.tempcolor = e.getAttribute("data-tempcolor"),
                o.desccolor = e.getAttribute("data-desccolor"),
                o.label1color = e.getAttribute("data-label1color"),
                o.label2color = e.getAttribute("data-label2color"),
                o.shadow = e.getAttribute("data-shadow"),
                o.scale = e.getAttribute("data-scale"),
              (r = document.getElementById(o.id)) && e.removeChild(r),
                i[o.id] = document.createElement("iframe"),
                i[o.id].setAttribute("id", o.id),
                i[o.id].setAttribute("class", "weatherwidget-io-frame"),
                i[o.id].setAttribute("title", "Weather Widget"),
                i[o.id].setAttribute("scrolling", "no"),
                i[o.id].setAttribute("frameBorder", "0"),
                i[o.id].setAttribute("width", "100%"),
                i[o.id].setAttribute("src", "https://weatherwidget.io/w/"),
                i[o.id].style.display = "block",
                i[o.id].style.position = "absolute",
                i[o.id].style.top = "0",
                i[o.id].onload = function () {

                  i[o.id].contentWindow.postMessage(o, "https://weatherwidget.io");


                },
                e.style.display = "block",
                e.style.position = "relative",
                e.style.height = "100px",
                e.style.padding = "0",
                e.style.overflow = "hidden",
                e.style.textAlign = "left",
                e.style.textIndent = "-299rem",
                e.appendChild(i[o.id])


            },
                 e = 0,
                 o = Math.min(a.length, 100); e < o; e++) {
            var r;
            t(e)
          }
          window.addEventListener("message", function (t) {

            "https://weatherwidget.io" === t.origin && i[t.data.wwId] && i[t.data.wwId].parentNode && (i[t.data.wwId].style.height = t.data.wwHeight + "px", i[t.data.wwId].parentNode.style.height = t.data.wwHeight + "px")
          })
        } else setTimeout(this.weatherwidget_init, 1500)

      }


    }

  }

</script>
<style lang="scss" scoped>
  #weatherWidgetInner {
    background-color: $SABRA_GREEN !important;
  }
.weather-side{
  margin-top: 25px;
}
  .weatherwidget-io {
    pointer-events: none;
  }

.weatherText{
  padding: 0!important;
  padding-bottom: 3px !important;
}

</style>
