<template>
  <v-layout>
    <v-card
      class="mx-auto photo-side"
      flat
      outlined
      shaped

    >

      <v-card-title class="title-card">
        <Titre4 Title="آخر الصور" class="titr4"/>
      </v-card-title>
      <v-card-text>
        <div class="images-wrapper row mt-2">
          <div

            class="col-4 div-image"
            v-for="(image, imageIndex) in images"
          >
            <v-img
              :id="imageIndex"
              :key="imageIndex"
              :src="image"
              class="image img-side hvr-grow"
              @click="() => show(imageIndex)"
            />


          </div>

          <client-only>
            <vue-easy-lightbox
              :visible="visible"
              :index="index"
              :imgs="images"
              @hide="visible = false"

            />
          </client-only>



        </div>

      </v-card-text>
      <v-card-actions class="more text-left">
        <div class="more-news">
          <a href="#">
            <span class="fa fa-angle-double-left more-news-ico"></span>
            <strong class="more-text">المزيد من الصور</strong></a>
        </div>

      </v-card-actions>
    </v-card>

  </v-layout>
</template>
<script>
  import Titre4 from "../tools/Titre4";

  export default {
    name: 'SidePhoto',
    components: {
      Titre4
    },
    data() {
      return {
        images: [
          {src:'/images/1.jpg', title: 'عنوان الألبوم'},
          {src:'/images/2.jpg', title: 'عنوان الألبوم'},
          {src:'/images/3.jpg', title: 'عنوان الألبوم'},
          {src:'/images/zodiac/4.png', title: 'عنوان الألبوم'},
          {src:'/images/zodiac/5.png', title: 'عنوان الألبوم'},
          {src:'/images/zodiac/6.png', title: 'عنوان الألبوم'}
        ],
        visible: false,
        index: 0   // default
      }
    },
    methods: {
      show(index) {
        this.index = index
        this.visible = true
      }
    }
  }
</script>
<style lang="scss" scoped>

  .img-side {
    height: 75px;
    background-size: cover;
    cursor: pointer;
    border: 1px solid lightgray;
    object-fit: contain;
    width: 100%;
    background-position: center center;
    cursor: pointer;
  }

  .photo-side {
    margin-top: 25px;
  }


</style>
