<template>
  <v-layout
    app
    justify-center
  >
    <div class="widget">

      <h4>فيديو</h4>
      <client-only>
        <CoolLightBox
          :index="index"
          :items="items"
          @close="index = null">
        </CoolLightBox>
      </client-only>
        <div class="images-wrapper">
          <div
            :key="imageIndex"
            :style="{ backgroundImage: 'url(' + image.thumb + ')' }"
            @click="index = imageIndex"
            class="image"
            v-for="(image, imageIndex) in items"
          >
           <img class="play hvr-pulse-grow" src="/images/play.png" />


          </div>
        </div>



    </div>

  </v-layout>
</template>
<script>

  export default {

    name: 'SideVideo',
    data: function () {
      return {
        items: [
          {
            title: 'عنوان الفيديو',
            description: "Sabra FM",
            thumb:  this.getYoutubeThumb('https://www.youtube.com/watch?v=u2X93VxQrag'),
            src: 'https://www.youtube.com/watch?v=u2X93VxQrag',
          }
        ],
        index: null
      };
    }


  }
</script>
<style lang="scss" scoped>
  .tagcloud a:hover {
    color: $SABRA_BLUE;
  }

  .tagcloud a {
    display: block;
    float: right;
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 3px 6px;
    border: 1px solid #E5E5E5;
    font-size: 16px !important;
    font-family: 'Amiri', serif;
    color: #4e4d4d;
    border-radius: 2px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }

  .widget {
    padding-top: 50px;
    border-top: 1px solid #EEE;
    position: relative;
    width: 100%;
  }

  .widget > h4 {
    margin-bottom: 25px;
    color: $SABRA_GREEN;
    font-family: 'Cairo', sans-serif;
    font-size: 16px;
    font-weight: 600;
  }

  .tagcloud {
    margin-bottom: -2px;
  }

  .images-wrapper {
    width: 100%;
  }

  .image {
    height: 150px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .play{
    width: 50px;
    height: auto;
    cursor: pointer;

  }
</style>
