<template>
  <v-layout
    app
    justify-center>
    <v-card
      class="mx-auto last-record"
      flat
      outlined
      shaped>
      <v-card-title class="title-card">
        <Titre4 Title="تسجيلات" class="titr4"/>
      </v-card-title>

      <v-card-text class="ptext">
        <v-tabs
          centered
          color="green"
          grow
          v-model="tab"
        >
          <v-tab class="tab-title">البرامج</v-tab>
          <v-tab class="tab-title">المنوعات</v-tab>

          <v-tab-item>
            <v-card
              flat
              tile
            >
              <v-card-text>

                <div class="spost">
                  <div class="play">
                    <a href="#">
                      <i class="i-circled i-light icon-play-circle2"></i>
                    </a>
                  </div>

                  <div class="programme">
                <span class="programme-title"><a href="#">عنوان البرنامج المسجل</a></span>
                    <div class="spost-date text-left"><i class="icon-calendar3"></i> 10 جويلية 2020</div>
                  </div>
                </div>
                <div class="spost">
                  <div class="play">
                    <a href="#">
                      <i class="i-circled i-light icon-play-circle2"></i>
                    </a>
                  </div>

                  <div class="programme">
                    <span class="programme-title"><a href="#">عنوان البرنامج المسجل</a></span>
                    <div class="spost-date text-left"><i class="icon-calendar3"></i> 10 جويلية 2020</div>
                  </div>
                </div>
                <div class="spost">
                  <div class="play">
                    <a href="#">
                      <i class="i-circled i-light icon-play-circle2"></i>
                    </a>
                  </div>

                  <div class="programme">
                    <span class="programme-title"><a href="#">عنوان البرنامج المسجل</a></span>
                    <div class="spost-date text-left"><i class="icon-calendar3"></i> 10 جويلية 2020</div>
                  </div>
                </div>
              </v-card-text>
            </v-card>
          </v-tab-item>

          <v-tab-item>
            <v-card
              flat
              tile
            >
              <v-card-text>

                <div class="spost">
                  <div class="play">
                    <a href="#">
                      <i class="i-circled i-light icon-play-circle2"></i>
                    </a>
                  </div>

                  <div class="programme">
                    <span class="programme-title"><a href="#">عنوان البرنامج المسجل</a></span>
                    <div class="spost-date text-left"><i class="icon-calendar3"></i> 10 جويلية 2020</div>
                  </div>
                </div>
                <div class="spost">
                  <div class="play">
                    <a href="#">
                      <i class="i-circled i-light icon-play-circle2"></i>
                    </a>
                  </div>

                  <div class="programme">
                    <span class="programme-title"><a href="#">عنوان البرنامج المسجل</a></span>
                    <div class="spost-date text-left"><i class="icon-calendar3"></i> 10 جويلية 2020</div>
                  </div>
                </div>
                <div class="spost">
                  <div class="play">
                    <a href="#">
                      <i class="i-circled i-light icon-play-circle2"></i>
                    </a>
                  </div>

                  <div class="programme">
                    <span class="programme-title"><a href="#">عنوان البرنامج المسجل</a></span>
                    <div class="spost-date text-left"><i class="icon-calendar3"></i> 10 جويلية 2020</div>
                  </div>
                </div>
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs>


      </v-card-text>
      <v-card-actions class="more text-left">
        <div class="more-news">
          <a href="#">
            <span class="fa fa-angle-double-left more-news-ico"></span>
            <strong class="more-text">المزيد من التسجيلات</strong></a>
        </div>
      </v-card-actions>


    </v-card>
  </v-layout>
</template>
<script>
  import Titre4 from "../tools/Titre4";

  export default {
    name: 'SideRecords',
    components: {
      Titre4
    },
    data() {
      return {
        tab: null
      }
    }


  }
</script>
<style lang="scss" scoped>
  .last-record {
    margin-top: 25px;
  }

  .tab-title {
    font-family: "Almarai", sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0 !important;
  }
.programme-title{
  font-family: 'Almarai', sans-serif;
  font-size: 16px;

}
  .programme-title > a{
    color: black !important;
  }
  .spost {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    border-top: 1px dashed #E5E5E5;
    width: 100%;
    text-align: right;
  }

  .spost:first-child {
    margin-top: 5px;
    padding-top: 0;
    border-top: 0;
  }




  .play,
  .programme{
    display: inline-block;
    height: 100%;
  }
  .i-circled {
    font-size: 48px;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    cursor: pointer;
    font-style: normal;
    border-radius: 50%;
    width: 48px !important;
    height: 48px !important;
    line-height: 48px !important;
    padding-right: 4px;
  }
  .i-circled:hover {
    background-color: $SABRA_GREEN;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    box-shadow: 0 0 0 rgba(0,0,0,0.2);
  }
  .i-light {
    background-color: #F5F5F5;
    color: $SABRA_BLUE;
    text-shadow: 1px 1px 1px #FFF;
    box-shadow: inset 0 0 15px rgba(0,0,0,0.2);
  }
  .spost-date{
    font-size: 11px;
    color: #999;
    font-family: "Almarai", sans-serif;
    font-style: italic;
    font-weight: 400;
    width: 100%;
  }
  .programme{
    padding-right: 15px;
  }
  .programme-title:hover > a{
    color: $SABRA_GREEN !important;
  }
</style>
