<template>
  <v-layout
    app
    justify-center

  >
    <div class="div-tabnews mt-10">
      <v-tabs
        center-active
        color="transparent"
        right
        v-model="tab"
      >
        <v-tab>الأكثر قراءة</v-tab>
        <v-tab class="ml-3">الأكثر مشاركة </v-tab>
      </v-tabs>
      <v-tabs-items
        v-model="tab"
      >
        <v-tab-item class="p-3">
          <div class="spost">
            <div class="spost-ico">
              <i class="icon-folder-open ml-2"></i>
              <a href="#" >أخبار</a>,
              <a href="#" >وطنية</a>

            </div>
            <div class="spost-text">
              <a href="#" >
              ارتفاع عدد المتعافين في المنستير كوروناارتفاع عدد المتعافين في المنستير كورونا
              </a>
            </div>
            <div class="spost-date text-left"><i class="icon-calendar3"></i> 10 جويلية 2020</div>
          </div>
          <div class="spost">
            <div class="spost-ico">
              <i class="icon-folder-open ml-2"></i>
              <a href="#" >أخبار</a>,
              <a href="#" >وطنية</a>

            </div>
            <div class="spost-text">
              <a href="#" >
                ارتفاع عدد المتعافين في المنستير كوروناارتفاع عدد المتعافين في المنستير كورونا
              </a>
            </div>
            <div class="spost-date text-left"><i class="icon-calendar3"></i> 10 جويلية 2020</div>
          </div>
          <div class="spost">
            <div class="spost-ico">
              <i class="icon-folder-open ml-2"></i>
              <a href="#" >أخبار</a>,
              <a href="#" >وطنية</a>

            </div>
            <div class="spost-text">
              <a href="#" >
                ارتفاع عدد المتعافين في المنستير كوروناارتفاع عدد المتعافين في المنستير كورونا
              </a>
            </div>
            <div class="spost-date text-left"><i class="icon-calendar3"></i> 10 جويلية 2020</div>
          </div>
        </v-tab-item>
        <v-tab-item class="p-3">
          <div class="spost">
            <div class="spost-ico">
              <i class="icon-folder-open ml-2"></i>
              <a href="#" >أخبار</a>,
              <a href="#" >وطنية</a>

            </div>
            <div class="spost-text">
              <a href="#" >
                ارتفاع عدد المتعافين في المنستير كوروناارتفاع عدد المتعافين في المنستير كورونا
              </a>
            </div>
            <div class="spost-date text-left"><i class="icon-calendar3"></i> 10 جويلية 2020</div>
          </div>
          <div class="spost">
            <div class="spost-ico">
              <i class="icon-folder-open ml-2"></i>
              <a href="#" >أخبار</a>,
              <a href="#" >وطنية</a>

            </div>
            <div class="spost-text">
              <a href="#" >
                ارتفاع عدد المتعافين في المنستير كوروناارتفاع عدد المتعافين في المنستير كورونا
              </a>
            </div>
            <div class="spost-date text-left"><i class="icon-calendar3"></i> 10 جويلية 2020</div>
          </div>
          <div class="spost">
            <div class="spost-ico">
              <i class="icon-folder-open ml-2"></i>
              <a href="#" >أخبار</a>,
              <a href="#" >وطنية</a>

            </div>
            <div class="spost-text">
              <a href="#" >
                ارتفاع عدد المتعافين في المنستير كوروناارتفاع عدد المتعافين في المنستير كورونا
              </a>
            </div>
            <div class="spost-date text-left"><i class="icon-calendar3"></i> 10 جويلية 2020</div>
          </div>
        </v-tab-item>
      </v-tabs-items>

    </div>
  </v-layout>
</template>

<script>

  export default {
    name: 'TabNews',
    data() {
      return {
        tab: null
      }
    }
  }


</script>
<style lang="scss" scoped>
  .spost-text > a {
    color: black !important;
  }
  .spost-text > a:hover {
    color: $SABRA_BLUE !important;
  }
  .spost-text {
    margin-right: 25px;
    font-family: 'Almarai', sans-serif;
    font-size: 13px;
    line-height: 25px;
    font-weight: 600;
    margin-bottom: 10px;
  }
.spost-date{
  font-size: 11px;
  color: #999;
  font-family: "Almarai", sans-serif;
  font-style: italic;
  font-weight: 400;
  width: 100%;
}
  .spost-ico {
    margin-right: 35px;
    color: #999;
    font-family: "Almarai", sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
  }
  .spost-ico > a{
    color: #999 !important;
  }
  .spost:first-child {
    margin-top: 5px;
    border-top: 0;
  }

  .spost {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px dashed #E5E5E5;
  }


  .v-tabs-slider-wrapper {
    background-color: white !important;
  }

  .v-tabs-slider {
    background-color: white !important;
  }

  .div-tabnews {
    width: 100%;
    border-bottom: 1px solid #DDD;
    padding-bottom: 20px;
  }

  .v-tab {
    display: block;
    padding: 4px 15px;
    color: #999;
    line-height: 40px;
    background-color: #F2F2F2;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #DDD;
    border-bottom: 0;
    height: 100%;
    font-family: 'Cairo', sans-serif;
    letter-spacing: 0px !important;
  }

  .v-tab--active {
    background-color: transparent !important;
    transform: translate(0, 3px);
    color: $SABRA_BLUE !important;
  }

  .v-tabs-items {
    border-top: 1px solid #DDD !important;
  }

</style>
