<template>

  <span
    class="wradio"
   >
{{widthx}}
  </span>

</template>
<script>
  export default {
    name: "WebRadio",
    data() {
      return {
        widthx: 'XL',
        window: {
          width: 0,
          height: 0
        },
      }
    },
        mounted() {
          window.addEventListener('resize', this.handleResize);
          this.handleResize();
        },
        destroyed() {
          window.removeEventListener('resize', this.handleResize);
        },
        methods: {
          handleResize() {
            this.window.width = window.innerWidth;
            this.window.height = window.innerHeight;

            if (this.window.width < 600)   return this.widthx = 'XS'
            if (600 < this.window.width && this.window.width < 960)   return this.widthx = 'SM'
            if (960 < this.window.width &&  this.window.width < 1264)   return this.widthx = 'MD'
            if (1264 < this.window.width && this.window.width < 1904)  return  this.widthx = 'LG'
            if (this.window.width > 1904)  return  this.widthx = 'XL'


          }
      }

  }
</script>
<style lang="scss" scoped>
  .wradio {
    position: fixed;
    left: 0;
    top: 60%;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 5px;
    z-index: 666 !important;
  }
</style>
