<template>
  <v-app id="inspire">
    <SabraHeader class="hidden-sm-and-down"/>
    <SabraMobileNavbar class="hidden-md-and-up"/>
    <SabraMobileMenu/>
    <v-content class="main-content mt-10 mt-md-1">
      <v-container>
        <v-row>
          <div class="col-12 col-sm-12 col-md-8 col-lg-9">
            <nuxt/>
          </div>
          <div class="hidden-sm-and-down col-md-4 col-lg-3">
            <ScrollNews/>
            <SideWeather/>
            <SideRecords/>
            <SidePhoto/>
            <TabNews/>
            <SideTags/>
            <SideVideo/>
          </div>
          <Webradio/>
        </v-row>
      </v-container>
    </v-content>
    <Footer/>
  </v-app>
</template>


<script>

  import SabraMobileNavbar from "~/components/header/SabraMobileNavbar.vue";
  import SabraMobileMenu from "~/components/header/SabraMobileMenu.vue";
  import SabraHeader from "~/components/header/SabraHeader.vue";
  import Footer from "~/components/Footer";
  import ScrollNews from "~/components/side/ScrollNews";
  import TabNews from "~/components/side/TabNews";
  import SidePhoto from "~/components/side/SidePhoto";
  import SideWeather from "~/components/side/SideWeather";
  import SideTags from "~/components/side/SideTags";
  import SideRecords from "~/components/side/SideRecords";
  import SideVideo from "~/components/side/SideVideo";
  import Webradio from "~/components/side/Webradio";


  export default {
    components: {
      SabraHeader,
      SabraMobileNavbar,
      SabraMobileMenu,
      Footer,
      Webradio,
      ScrollNews,
      TabNews,
      SidePhoto,
      SideWeather,
      SideTags,
      SideRecords,
      SideVideo
    },

  };
</script>



