<template>
  <div>

        <VideoSlider/>




  </div>
</template>
<script>
  import Bigpublicite from "../components/home/Bigpublicite";
  import Titre from "../components/tools/Titre";
  import PreviewPost from "../components/tools/PreviewPost";
  import NewsSlider from "../components/home/NewsSlider";
  import WeatherWidget from "../components/tools/WeatherWidget";
  import AlbumSlider from "../components/home/AlbumSlider";
  import VideoSlider from "../components/home/VideoSlider";

  export default {
    components: {Bigpublicite, Titre, PreviewPost, NewsSlider, WeatherWidget, AlbumSlider, VideoSlider}
  };
</script>
<style>

</style>
