<template>
  <v-layout>
    <v-container>
      <v-row no-gutters>
        <v-col cols="12">
          <Titre2 :Title="getTitle"/>
          <client-only>
            <div class="allWpost">

                            <WidthPost
                             v-for="(post, index) in postPage"
                              :id="index"
                              :key="index"
                              :pbody="post.content"
                              :pimage="post.image_url"
                              :plink="'/articles/'+post.id"
                              :pdate="post.created_at"
                              :ptitle="post.title"
                              data-aos="fade-left"
                              data-aos-easing="linear"

                            />
            </div>


            <div class="text-center divpag">
              <paginate
                :click-handler="clickCallback"
                :container-class="'pagination'"
                :next-text="'التالي'"
                :page-count="10"
                :prev-text="'السابق'">
              </paginate>
            </div>
          </client-only>
        </v-col>

      </v-row>
    </v-container>
  </v-layout>
</template>
<script>
  import Titre2 from "../../components/tools/Titre2";
  import WidthPost from "../../components/tools/WidthPost";
  import {mapState} from 'vuex'


  export default {
    components: {
      Titre2,
      WidthPost
    },

    computed: {
      ...mapState(['categories']),
      ...mapState(['slugCat']),
      ...mapState(['postPage']),

      getTitle: function () {
        var result = this.categories.filter(obj => {
          return obj.slug === this.$route.params.category
        })
        return result[0].title
      }
    },

    created() {


    },
    methods: {
      clickCallback: function (pageNum) {
        //paginate
        console.log(pageNum)
      }
    },
    validate({params, query, store}) {
      //check if slugs exist in category

      return (store.state.slugCat.includes(params.category))

    }


  }

</script>
<style>


</style>

